<article class="art-content">
  <div class="label-float">新车驾到</div>
  <img src="img/new_arrival/new_arrival1-1.jpg" alt="">
  
  <hgroup>
    <h1>三顾茅庐 凌渡亮相全记录</span></h1>
  </hgroup>
  <section>
    
    <h4>小荷才露尖尖角——北京车展神秘亮相</h4>
    
    <p>
      “2014年4月20日的北京车展上，上海大众发布了一款代号NMC紧凑型轿跑概念车。据悉，这款车将会在年内由上海大众国产。外观方面，上海大众NMC概念车采用了大众家族式的前脸设计，新车线条流畅，定位一款四门紧凑型轿跑，也被称为是小号‘CC’。车身尺寸方面，该车高度为1422mm，宽度为1838mm。目前有关新车的更多信息还十分有限，据之前消息，新车将会搭载的是一台2.0T发动机，该发动机最大功率为220马力，0-100km/h的加速时间在6.5秒左右。”
    </p>
    <p>
      （节选文章来源：汽车之家4月20日）
    </p>

    <h4>编辑歪说：</h4>
    <p>
      这就是传说中：“小荷才露尖尖角，犹抱琵琶半遮面”的大杀招吗？若是没有你出现，我怎么会相信我心中对轿跑也有这样的烈火。在北京车展上，第一眼就被凌渡的外观吸引，可惜围观群众气势凶猛，实在难以慢慢品味这款概念车的精髓，心里充满着遗憾。
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>2/23</span>
  </div>
</article>