<article class="art-content layout3">
  <div class="label-float">新车驾到</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper0">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-5.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination0"></div>
    </div>
  </div>

  <hgroup>
    <h1>魅力战袍之魅</h1>
  </hgroup>
  <section>

    <h4>轿跑风格车身造型</h4>
    <p>
      燃油喷嘴安装于气缸内，直接将燃油喷入气缸内与进气混合。喷射压力也进一步提高，使燃油雾化更加细致，真正实现了精准地按比例控制喷油并与进气混合，并且消除了缸外喷射的缺点。同时，喷嘴位置、喷雾形状、进气气流控制，以及活塞顶形状等特别的设计，使油气能够在整个气缸内充分、均匀的混合，从而使燃油充分燃烧，真正实现了“尽燃每滴油”。
    </p>
    <p>
      从燃油喷射技术发展的轨迹可以看出，燃油喷射与进气混合的位置离气缸越来越近，最终发展到在气缸内进行。由于燃油喷射雾化的形成与油气的混合就在汽缸内进行，对供油量与油气均匀混合的控制精度得以提高，并且可实现精确点火，因而，燃烧更加迅速、充分，动力的爆发当然就会更为猛烈，动态响应更佳，功率与扭矩同时增加，燃油消耗明显降低，排放也更低。缸内直喷技术无疑是汽车发动机技术发展过程中的最新成就。
    </p>

    <h4>俯冲横拓前脸</h4>
    <p>
      大众汽车横向拉伸的家族前脸由于凌渡而被全新演绎。两条顺势延展的镀铬装饰条精心布置于水平拉伸的上格栅之中，颇具创意地与镀铬灯眉连为一体，稳健优雅之外，为整车营造出坚毅而犀利的表情。张力十足的前保险杠搭配个性鲜明的蜂窝状下格栅，共同向两侧水平张开，让整个前脸充满了强劲的力量感和冲击力，犹如一头蓄势待发的猎豹伫立其间。
    </p>
    <h4>高亮黑 A/B/C 柱装饰板</h4>
    <p>
      上海大众汽车紧扣中国市场审美需求，在A柱底部三角区域及B、C柱外侧额外安装颇具运动气息的高亮黑装饰板。饰板造型完美贴合车侧曲面，搭配做工精湛的镀铬车窗装饰条，让整个侧面车体上部顿时融为一体。不但提升整车品质感，亦用简洁时尚的设计风格，注解德系工艺所追求的品质和传统。
    </p>

    <h4>雷霆炫酷铝合金轮毂</h4>
    <p>
      针对不同级别车型，凌渡拥有三款全新设计的铝合金轮毂，为消费者提供更多选择。高配车型配备张力十足的17雷霆炫酷铝合金轮毂，其拥有多辐条造型，大小辐条错落有致，扩张感呼之欲出，饱含肌肉感刚度而尽显锋芒；极具创意的轮毂抓盘将整个车轮又聚焦于中心，浓郁的运动气息在前卫的科技感中被全新演绎，大胆布置的抓盘镀铬装饰块在上海大众汽车首次亮相，让凌渡强劲的力量感耀眼夺目。
    </p>

    <h4>隐藏式印刷天线／车顶鲨鱼鳍天线</h4>
    <p>
      凌渡拥有巧夺天工的完美流线造型，传统的收音机天线亦被集成于后风挡内，并依托宽大的天线面积进一步提升信号接收效果，打造惬意旅途同时不失简约与时尚。后风挡上部同样密集布置颇具大众特色的中波AM频段专用天线，有效扩展郊区等FM信号欠佳地区的收音机使用条件。车顶鲨鱼鳍天线为导航系统专用，获得良好装饰效果同时，确保在干扰繁杂的城市等复杂路况下，导航车型依然实现稳定可靠的导航定位精度。
    </p>

    <h4>凌耀LED 运动尾灯</h4>
    <p>
     凌渡修长的凌耀LED运动尾灯科技感十足，LED光源不但缩短了点亮时间，增强行车安全性，亦提升了车尾的档次感；相对于普通的LED光源布置方式，上海大众在凌渡尾灯内布置了更多更为细密的LED发光体，点亮效果颇为出色；灯体面板采用高科技离散材料，光线从尾灯发出前经过充分漫散射，均匀而柔和，锋芒个性间，优雅的奢华气质已自然展现。
    </p>

    <h4>20 处璀璨环绕氛围灯</h4>
    <p>
      作为代表上海大众汽车精致时尚内饰构思的全新之作，凌渡在全车布置了璀璨环绕白色氛围灯。其提供多达20处光源，包括前后排脚部空间，四车门上的内拉手、扶手、储物槽和装饰条，均进行了精心的氛围灯装饰。解锁车门时，车门氛围灯和脚部氛围灯先后亮起，科技感十足的点线光源交相辉映，营造出一份独特而神秘的氛围效果。尤其是安静的夜晚，任凭车内光晕幽洒，既方便驾乘人员上下车辆，更是充满浪漫气息的尊贵享受。
    </p>

    <h4>豪华打孔真皮运动座椅</h4>
    <p>
      凌渡在座椅设计上注重简约纯粹与舒适人性的完美融合。座椅线条清晰硬朗，型面关系立体感十足，独一无二的双饰条散发着浓郁的时尚气息；兼顾舒适性与支撑性的人体工程学优化造型，确保座椅自然贴合肩部、腰背部及腿部曲线，对驾乘人员的包覆也自然全面。其还提供12向电动调节带腰托功能，无论是座椅椅盆的前后、上下以及倾斜角度，亦或座椅靠背角度，都可通过精巧的调节模块轻松完成。甚至领先同级的四向腰部支撑，也可通过电动调节轻松设定。每一次乘坐，都是舒心愉悦的全新体验。
    </p>

    <h4>真皮多功能方向盘</h4>
    <p>
      凌渡配备代表大众汽车最新方向盘设计风格的真皮多功能方向盘，并提供高度可调功能。三辐条设计传承家族特色的同时更为饱满，扁平的下部造型极具赛车风格，进一步强调凌厉顺畅的操控体验。大众标准铝镁合金方向盘骨架轻盈坚固，精心包裹手感极佳的顶级真皮，织以精湛黑色缝线，搭配镶嵌高亮镀铬环的钢琴黑漆装饰盖，营造出一种视觉与触觉相融的驾驭快感。丰富的多功能按键经过全新设计，不松开双手即可轻松控制音响、接听蓝牙电话或切换仪表盘显示信息，提升安全的同时拥有便捷的操控感受。
    </p>

    <h4>T 型设计中控台</h4>
    <p>
      凌渡简约而纯粹的横向内饰风格凝聚大众汽车设计精髓，与整车造型一脉相承。家族特征明显的中控台采用T型设计，经过上海大众汽车多次人性化试验，整体上抬并向驾驶员一侧精确偏转6.769°，实现绝佳的便捷操作体验。中央通道高度亦获得进一步提升，相对于同平台车型，中央通道高度提升46mm，座椅高度降低16mm。中控台对驾驶员的环绕感延展而下，打造轿跑风格驾驭体验的同时，并未影响驾驶员舒适坐姿。副驾驶席前端气囊盖采用极具大众汽车技术特色的激光雕刻无缝面板，精致光滑而大气浑然，内饰美感及整体感均获得进一步提升。
    </p>

    <h4>真皮换档手柄</h4>
    <p>
      凌渡传承上海大众汽车对换档手柄设计的独特见解，成就人性科技与时尚美学的集大成者。堪称经典的鹦鹉头仿生学球头被进一步升高，握感舒适的同时提升了操控便捷度，颇具时尚跑车的风格与魅力。巧妙搭配的镀铬装饰条与真皮材质镶拼其间，如同运动与豪华势均力敌，在精致的时尚气息外，独辟蹊径地推升了整车档次感。
    </p>

  </section>

  <div class="art-pages-num">
    <span>19/23</span>
  </div>
</article>