<article class="art-content layout5">
  <div class="label-static">新车驾到</div>
  
  <section>
    
    <p class="p-first">
      是为他们而来的，我真的非常期待。
    </p>
    <p class="p-dialog">
      <span>来自河北石家庄的车主史湘涛先生：</span>
      之前我参加过梦享酷驾行活动，不但教车主如何节油，还让我结识到了很多朋友，感受到大众一家的关怀。今天的分享会，让我对俱乐部有了更深的了解，更让我体会到了上海大众对车主从售前到售后，再到精神层面需求全方位、无微不至地关怀，感触太深。对于凌渡上市会活动，我最期待两点：一是，凌渡的价钱；二是，我今天还带了孩子一起过来参加活动，因为孩子是跑男的忠实粉丝，而凌渡在孩子心目中也是神一样的车，圆孩子一个追星梦。
    </p>    
    
    <p class="p-dialog">
      <span>来自上海的车主于书灵先生：</span>
      我很早就加入了上海大众汽车的俱乐部，从“My SVW”到现在的“大众一家”，也参加过很多大众一家的 活动，让我印象最深刻的是在北京举办的“新桑塔纳上市会”活动，因为当时有幸以嘉宾的身份亲临现场参与活动。但活动给我留下深刻印象的不是车，而是因为活动聚集到一起来自五湖四海的车友朋友们，大家在一起畅所欲言、喝酒聊天。在我看来，大众一家俱乐部2014年的活动已经非常丰富了，从电影体验之旅、酷驾行到安驾营等等。在此，希望俱乐部在2015年能够组织一些公益性的活动，让车主可以深入到需要帮助的人群中，体验一些不一样的生活。对于今晚的凌渡上市会，我个人比较期待的是车，如果有机会一定要试驾一下。
    </p>

    <img src="img/new_arrival/new_arrival3-5.jpg" alt="">
    
  </section>

  <div class="art-pages-num">
    <span>14/23</span>
  </div>
</article>