<article class="art-content layout3">
  <div class="label-float">新车驾到</div>
  <img src="img/new_arrival/new_arrival4-14.jpg" alt="">
  
  <hgroup>
    <h1>全新尾标</span></h1>
  </hgroup>
  <section>
        
    <p>
      自2015年起，大众汽车品牌在中国市场销售的部分配备了TSI® 或TDI 发动机的乘用车和轻型商用车的（右后）车尾标识将从原来的“基于发动机技术类型”和/ 或“基于发动机排量”的标识体系逐步更改为“基于发动机扭矩”的标识体系。
    </p>
    <p>
      新标识的格式为：“以牛·米为单位的扭矩类别的标记值 + 发动机技术类型”。例如： 新标识“230 TSI”所代表的意义是：该车型配备的发动机是扭矩类别为230 牛•米的 TSI® 发动机。将所有大众汽车发动机的扭矩值（牛•米）划分为若干个“扭矩类别“，间隔差值为 50牛•米。每个“扭矩类别”采用一个“标记值”，由该类别平均扭矩值四舍五入后得出。例如， 属于200-249牛• 米扭矩类别的发动机的标记值为230。
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>22/23</span>
  </div>
</article>