<article class="art-content layout5">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival2-9.jpg" alt=""> 
    
    <p class="p-first">
      在，众多歌星里我也只喜欢他，只不过少了当初的肤浅想法，渐渐觉得JJ从出道以来，不但拥有人见人爱的形象，内在品质也是让人百般折服的。大家都了解，JJ一直都是以积极健康、大男孩的形象展现在大众面前，并且做到表里如一，那么多年几乎没什么消极负面的新闻。”
    </p>
    <p>
      （节选文章来源：上海大众汽车BBS车主论坛 ID：自阳了感觉）
    </p>
    <h4>编辑歪说：</h4>
    <p>
      两位车主果然世外高人，关于凌渡的价格预测，在大家看到这篇文章的时候已经公布，但我相信车主的估价。相信这个价格会吸引很多本来想要购买轿跑，却预算偏紧的潜在客户。就拿我自己来说，凌渡的出现让纠结再次加深，到底是朗境？还凌渡呢？一个跨界实用风格，一个轿跑高大上。据说昨天我午睡时说的梦话就是：朗境，凌渡，不要嘛……
    </p>
  </section>

  <div class="art-pages-num">
    <span>10/23</span>
  </div>
</article>