<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival2-2.jpg" alt="">
    
    <h4>凌渡自适应巡航为安全行车护航系统</h4>
    <p>
      “上海大众即将上市的轿跑凌渡搭载ACC自适应巡航系统，其探测雷达位于前保险杠中下方，最远探测距离为120m。随着科技的发展，自适应巡航系统还在不断进化；多传感器协同合作、判断逻辑更加智能将帮助自适应巡航系统更‘聪明’，进一步提升行车的安全性能。应该说，这样的新事物会很快被年轻人所接受，因为年轻人在追求时尚、品味的同时，更会去关注科技带来的体验。而事实上，对于定位为奢适宽体轿跑的凌渡而言，其未来的目标用户群体也应该是面向年轻与
    </p>
    <img src="img/new_arrival/new_arrival2-3.jpg" alt=""> 
    <p class="p-first">
      追求时尚的群体。因此，拥有提高行车安全性能的自适应巡航（ACC），凌渡自然可以得到他们更多的青睐。”
    </p>
    <p>
      （节选文章来源：厂商供稿2014年12月19日）
    </p>
    <h4>编辑歪说：</h4>
    <p>
      如果看了上面的文字，有一种要冲过来和我论理的冲动，那我只能耸耸肩说：“我的目的达到了，就是要吊起大家的胃口。”都说是剧透了嘛，所以真正的重点留在之后的车型介绍中，在预热的整个宣传过程中，其实已经暴露了凌渡几项特殊的功能，我也是擦着口水盼着呢。
    </p>
  </section>

  <div class="art-pages-num">
    <span>6/23</span>
  </div>
</article>