<article class="art-content">
  <div class="label-float">新车驾到</div>
  <img src="img/new_arrival/new_arrival3-6.jpg" alt="">
    
  <hgroup></hgroup>
  
  <section>
    <h4>凌渡驾到</h4>
    <p>
      晚上7点，上海国家会展中心北馆早已人声鼎沸，本次上海大众邀请了来自媒体、经销商和车主足足2000人，就当天加入我们微信“凌渡上市会活动群”的车主就有130人。
    </p>
    <p>
      在动感的音乐声中，上市会正式开演，首先登场的是上海大众销售与市场执行经理、上海大众汽车销售有限公司总经理贾鸣镝先生，他为凌渡的完胜登场做了精彩的演绎。
    </p>
    <p>
      “未来并非未知，在这个过去与未来的临界点，只要拥有完胜对手的信心，享受挑战的心情，未来便触手可及。Lamando 凌渡，正是上海大众秉持完胜之心，挑战经典与时尚的临界为时代精英度身打造的奢适宽体轿跑……”
    </p>
    <p>
      此后，在炫目的4D灯光中，7辆不同颜色的凌渡汽车闪亮登场，首先从Lamando中走出是上海大众有限公司大众品牌营销事业执行副总监兼销售高级总监向东平先生，此后车主翘首以盼的“跑男团”嘉宾们也尽数登场，向东平先生与跑男们幽默互动，阐释了凌渡与跑男们拥有共同的特性，那就是“竭尽全力，力求突破”。
    </p>
    <p>
      随后，上海大众有限公司副总经理兼品牌营销事业执行总监沈鸿广先生详细地介绍了凌渡的车型细节，在赏心悦目的闪光灯中，7辆凌渡环绕现场的跑道慢速绕行，这让车主们彻底沉
    </p>
  </section>

  <div class="art-pages-num">
    <span>15/23</span>
  </div>
</article>