<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival2-8.jpg" alt=""> 
    
    <h4>编辑歪说：</h4>
    <p>
      明星代言，赞助《Running Man》这两项媒体宣传波及范围之广，就连不懂汽车的老妈，都跑到我房间说：“你知道伐？上海大众出了一辆跑车（原谅老人家的用词不准确）叫凌渡，老好看的来，邓超他们开起来特别有范儿。”虽然，听得我满头黑线，但是也说明凌渡宣传的成功，更说明凌渡本身充满着魅力。
    </p>

    <h4>车主期待 吐槽剧透</h4>
    <h4>我猜，凌渡这价位可以买！</h4>
    <p>
      “09年那会儿，自己买了辆Polo作为代步车，称不上任性，但是这4年多以来却始终默默无闻地带领着我走南闯北，虽然路上也抛锚过几次，不过整体给我的感受还是相当的不错。也就是从那时开始，自己与大众就结下了不解之缘。
    </p>
    <p>
      所以，自己的第二部车也顺理成章的将在上海大众里做选择。原先自己是比较喜欢帕萨特，B级车的标杆车型，配置高，外形也漂亮。但是价格可能会有些高了，所以始终没有出手。然后看了朗行，掀背式的外观确实很好，安全方面做得也不错。不过总觉得欠了些感觉。之后广州车展，凌渡来了，首先第一眼就被吸引了。比帕萨特多了些优雅，比朗逸更多了些气场。17-26万的价格虽然只是猜测，但是已经完全符合这个配置该有的了。况且我也不认为这会成为最后的价格。我预计价格应该会在16-23万之间。”
    </p>
    <p>
      （节选文章来源：上海大众汽车BBS车主论坛 ID：祝父）
    </p>
    <h4>因为爱，所以爱！当林俊杰遇到凌渡~</h4>
    <p>
      “前两天看新闻尽然发现JJ林俊杰成为了凌渡的代言人，这让我不禁对上海大众这个品牌对于挑选代言人的眼光拍手叫好，纵观如今的娱乐圈纷繁复杂，我觉得也只有JJ的气质可以代表这辆车了吧。
    </p>
    <p>
      我从小就钟爱林俊杰，爱他唱歌的声音，唱功也是首屈一指，还有他阳光活泼的形象和一对萌爆了的小酒窝。一直到现
    </p>
  </section>

  <div class="art-pages-num">
    <span>9/23</span>
  </div>
</article>