<article class="art-content layout3">
  <div class="label-float">新车驾到</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-11.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-12.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-13.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination2"></div>
    </div>
  </div>

  <hgroup>
    <h1>魅力战袍之袍</h1>
  </hgroup>
  <section>

    <h4>丹拿5.1声道10扬声器高保真音响</h4>
    <p>
     作为一款对娱乐系统精益求精的越级车型，凌渡高配车型可选装享誉全球的丹拿5.1声道10扬声器高保真音响。其毫不妥协地追求最忠实的还原，最高的线性与最低的失真，瞬态反应快且毫无任何音染，令每一次旅程都是影院般的舒心享受；1个专用中置补偿扬声器布置于中控台上部中央，实现车内不同位置相同音质的完美表现；强悍的重低音炮则巧妙集成于备胎槽底部，营造潮水般滚滚声浪的同时，对行李箱空间和备胎取放没有任何影响。作为国际顶尖音响品牌，丹拿音响拥有极高的品牌美誉度。丹拿音响专注每个反射面的声音变化，甚至扬声器覆盖件的形状和细孔研磨方式都精益求精，成就高端奢侈品牌的卓越车内音响体验。
    </p>

    <h4>Climatronic恒温自适应双区净化空调</h4>
    <p>
      凌渡配备大众汽车简约高效的Climatronic恒温自适应双区净化空调，温控精度高达0.5℃，可在18℃～ 29℃范围内自由设定。借助遍布车身内外的传感器，空调系统可实时感知温度差异及日照强度，精确调节送风量及压缩机运转功率，全力打造舒适惬意的车内空间，并将能量消耗控制在较低水平。不但减少对发动机动力输出的占用，更可有效降低油耗。所有控制只需轻触按键即可完成，颇具大众风格的前风挡一键除霜及MAX一键最大冷功能更是悉数配备，轻松一键，众多操作一步完成，最大程度减少驾驶员注意力分散。
    </p>

    <h4>全方位安全气囊</h4>
    <p>
      传统安全气囊已无法代表上海大众汽车在被动安全领域的不懈追求。凌渡配备的安全气囊经过全新升级，拥有5s压力延缓释放能力。在连环碰撞或车身翻滚等恶劣事故中，可实现持续可靠的撞击缓冲。顶配及运动版车型更可越级选装驾驶员膝部气囊，为驾乘人员提供周身无虞的安全保护。凌渡的前排双SRS气囊以及前排侧SRS气囊为全系标配，前后贯穿式头部气帘从舒适版开始即可选装。与同级别车型多在高配甚至顶配版本配备六安全气囊相比，凌渡的绝对实力显然更胜一筹。
    </p>

    <h4>第三代WOKS安全头枕</h4>
    <p>
     作为大众汽车特有的前排驾乘人员颈部保护系统，WOKS安全头枕在凌渡上全系标配。头枕本身设计成拥抱状，第三代优化升级之后，凌渡头枕导杆恰到好处地向前倾斜15.8°。后方发生追尾碰撞时，WOKS安全头枕可有效减少头部后晃程度，同时借助可靠的支撑结构，尽量缓冲后方撞击对人体头部的冲击力，将事故对前排驾乘人员的颈部危害降到最低。其更有高度可调功能，创新设计的人性化调节按钮位于头枕侧面，操作极其便捷，不同身材驾乘人员均可轻松享用舒适安全的头枕高度。
    </p>
  </section>

  <div class="art-pages-num">
    <span>21/23</span>
  </div>
</article>