<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival4-1.jpg" alt="">

    <p>
      “凌渡”取意于“凌风渡越”。张扬间，露桀骜姿态；犀利中，显磅礴气势。其中，“凌”，凌厉亦凌动，以压倒性优势，将力量与速度完美演绎；“渡”，超越之意，以前瞻的视野、颠覆的气概，用未来武装现在。“凌渡”更有“零度”之意，零度是冰与水的临界点，以此体现凌风渡越的傲人姿态，这也正是对这一代年轻人渴望张扬个性、敢于颠覆的最佳诠释。
    </p>
    <p>
      基于MQB平台，他完美演绎了最新大众设计语言，极具个性的简洁设计奠定了同级车型美学新范。俯冲横拓前脸，承袭了大众家族设计风格，配合锐气动感氙气大灯，为整车营造出坚毅、犀利的表情。从车身腰线贯穿而来的锋视双侧面线条，在前脸的转折自然有力，使型面变化更充满了强劲的力量感和冲击力，犹如一头蓄势待发的猛兽。车身设计上，在不影响驾乘人员头部空间前提下，拥有更低车高，成就极致空气动力学外型，营造出更具动感活力的视觉效果。
    </p>
    <p>
      车身尾部修长的凌耀LED运动尾灯，体现了车辆的运动基因；凌厉双炮筒排气管设计，豪迈大气，令人心潮激荡。
    </p>
  
    <p>
      “凌渡”，从不在任何一刻停留，他在时光之间纵情穿梭。以前瞻的视野，跨越时间的尺度，将未来科技在今天具象。突破性引入ACC自适应巡航、智感MIB 多媒体娱乐终端等科技配置，配合驾驶舱内炫酷的氛围灯和极致奢华的丹拿音响设备，营造出超现实的驾驶体验。
    </p>
    <p>
      “凌渡”，卓越性能跨越冰与火的温度临界，是掌控火热激情的沸点，也是终结对手奢望的冰点。他的性能设置，源于驾驶者对驾驭感的渴求，当能量释放的那一刻，足以让时间为之惊叹。
    </p>
  </section>

  <div class="art-pages-num">
    <span>18/23</span>
  </div>
</article>