<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival1-2.jpg" alt="">
    
    <h4>千呼万唤始出来——成都车展全球首发</h4>
    <p>
      “2014年8月29日，上海大众全新前瞻奢适轿跑——“Lamando 凌渡”，在2014年成都国际车展全球首发。其造型锋芒动感、优雅大气，完美演绎了全新轿跑设计之美，成为聚光灯下的耀眼明星。Lamando凌渡的到来，正式开启了上海大众进军中高级轿跑细分市场的新篇章，并将进一步完善上海大众VW品牌的产品战略布局，开启千万辆里程碑后的全新征程。作为一款锋芒动感、优雅大气的前瞻轿跑，相信它将满足中高级轿跑消费者日益多元化和个性化的需求。Lamando凌
    </p>
    <img src="img/new_arrival/new_arrival1-3.jpg" alt="">
    <p class="p-first">
      渡，让每一个渴望挑战的人犹如身披‘魅力战袍’，渡越临界点，让一切发生，纵情完胜。“
    </p>
    
    <p>
      （节选文章来源：厂商供稿8月29日）
    </p>
    <h4>编辑歪说：</h4>
    <p>
      原来“Lamando”源于西班牙语中的“Mandar”，象征“引领与启示”，无疑是敢于向临界发起挑战的最佳演绎。凌渡，取意“凌风 渡越”。“凌”是凌厉亦是凌驾，纵情演绎速度与激情；“渡”，是渡越更是跨越，以前瞻之势，创造历史，洞悉未来，命名中尽显一款前瞻轿跑的桀骜姿态与磅礴气
    </p>

    
  </section>

  <div class="art-pages-num">
    <span>3/23</span>
  </div>
</article>