<article class="art-content">
  <div class="label-float">新车驾到</div>
    <img src="img/new_arrival/new_arrival2-1.jpg" alt="">
  
  <hgroup>
    <h1>循序渐进 凌渡剧透全记录</span></h1>
  </hgroup>
  <section>
    
    <h4>锋芒毕露 媒体大剧透</h4>
    <h4>凌渡剑走偏锋 打开天窗说“大化”</h4>
    
    <p>
      “轿跑这个细分市场在汽车消费群体年轻化的驱动下，即将成为中国车市又一个极具潜力的蓝海市场，上海大众推出凌渡这一奢适宽体轿跑，不仅填补自己在市场的空白，更进一步丰富了产品线。但是，目前市场上轿跑“横行”，而凌渡作为新秀如何在这一市场占得先机？而今天，我们也来个偏方看车，拿凌渡的天窗来说事。
    </p>
    <p>
      天窗在各大汽车品牌中已经普遍应用，但是真正做到像凌渡这样用心的屈指可数。无论是天窗的开启面积、开启方式，还是扰流防尘网罩的使用，都看到了上海大众奢适宽体轿跑的用心之处。更多智能化、人性化的应用，更是体现出了上海大众凌渡的卓越品质。一款好车不是用来看的，而是用心去感受的。这方面凌渡做到了。”
    </p>
    <p>
      （节选文章来源：易车网2014年12月19日）
    </p>
  </section>

  <div class="art-pages-num">
    <span>5/23</span>
  </div>
</article>