<article class="art-content img-all">
  <div class="label-float">新车驾到</div>
  <img src="img/new_arrival/new_arrival.jpg">

  <img class="img-btn" src="img/img-btn.png"><div class="title-msg">
    <hgroup>
      <h1>渡越临界点 让一切发生</h1>
    </hgroup>
    <p class="p-position">
      2013年底，一条来自网络的“小道”消息：“基于大众全新设计紧凑级入门轿跑车型概念车，代号NMC（New Midsize Coupe），将由上海大众实现量产，并在2016年前上市。”让所有大众车迷无不翘首以待，只是脖子伸了好几个月，连NMC的中文名字都不知道，这可急坏了我们编辑部，各种软磨硬泡企图获取各种信息。正当我们陷入无限迷惘和绝望之时，一个陌生的西班牙单词忽隐忽现地让我们看到了曙光：Mandar。没想到这个象征“引领与启示”之意的词汇，只是一切发生的开始……
    </p>
  </div>

  <div class="art-pages-num">
    <span>1/23</span>
  </div>
</article>