<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival3-7.jpg" alt="">
    

    <p class="p-first">
      浸在凌渡的魅力之中。
    </p>
    <p>
      但上市会真正的高潮才刚刚到来，随着JJ林俊杰为凌渡度身定做《Lamando》的完胜曲调在会场中响起，台下的观众全都激动地舞动了起来，霸气的歌词“披上荣耀，披上魅力的战袍，披上骄傲魅力战袍，Lamando是赢的速度”无不体现着Lamando“突破、睿智进取、追求时尚与科技享受”的临界概念。
    </p>
    <p>
      最后，上海大众汽车有限公司总经理陈贤章先生登台，揭开了当晚最大的秘密，那就是Lamando的市场售价，售价区间在14.59—21.39万元之间。随着JJ林俊杰从陈贤章先生手中接过凌渡车钥匙，荣欣地成为了第一位凌渡车主，凌渡上市会也在炫彩的光线中结束了。让我们一起来听听车主们对新车的看法吧。
    </p>

     <p>
      随着中国汽车消费需求的升级，以轿跑为代表的新兴细分市场日益受业界关注。凌渡的登场，开启了上海大众汽车进军轿跑市场的全新篇章，向轿跑车市场格局发起有力挑战。接下来赶快进入我们的新车驾到《凌风，渡越》，一起来看看凌渡到底是如何突破临界，让魅力发生的。
    </p>
    <p class="p-dialog">
      <span>来自上海的朗行车主洪先生：</span>
      在来上市会活动之前，我已经在上海本地经销商那里试驾过了凌渡，这款新车在运动性、密闭性，配置等各方面都很不错，我一直期待的就是它的价格，今天价格公布的一刻真的是让我激动不已，这么亲民的价格，必须买啊！
    </p>
    
    <p class="p-dialog">
      <span>来自江苏南京的Polo 车主董先生：</span>
      今天活动宏大的现场已经让我很震撼了，凌渡的造型和车尾部分的设计是我最喜欢的，也很符合现在年轻人的审美观点，非常帅！
    </p>    

    <p class="p-dialog">
      <span>来自江西南昌的途观车主钟先生：</span>
      自动泊车、自动跟车、自动刹车、360度无盲点的安全性能等，都让我觉得这款车的科技含量非常高，我非常喜欢。原本准备了50万的预算，但没想到它的价钱这么低，回去就换车。
    </p>
  </section>

  <div class="art-pages-num">
    <span>16/23</span>
  </div>
</article>