<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival2-4.jpg" alt=""> 
    
    <h4>明星捧场 代言剧透</h4>
    <h4>JJ代言凌渡，这又是双赢的组合哇！</h4>
    <p>
      “今天歌迷会里有人透露给我说，我们家JJ要代言上海大众的新车的凌渡了！这两天看到凌渡广告的时候就觉得这车好帅，现在JJ来代言，更加觉得帅！回想JJ刚出道时，一首《江南》红遍大江南北，那种想不注意到他都难的火热程度就像广告里的凌渡伴随着酷炫的电子音乐破势而出，抓人眼球！
    </p>
    <p>
      之后的JJ，风格开始多变，但总的来说越来越潮了！比如《不潮不用花钱》就直接唱出了他对于潮的理解，同年还创立了自己的潮牌。凌渡好像是轿跑车吧？外观也很潮的样子，跟JJ会很搭。男神代言酷车，人和车我都是越看越喜欢的节奏！不知道上海大众什么时候正式宣布这个好消息捏？也不知道广告会有多炫酷~ 想想就很期待，还很激动呢！”
    </p>
    <p>
      （节选文章来源：汽车之家、爱卡、太平洋、易车等十大垂直论坛2014年12月19日）
    </p>
    <h4>到底是凌渡红火了RM，还是RM 捧红了凌渡！</h4>
    <p>
      “上海大众凌渡是跑男的赞助商，怪不得几乎每一期跑男和嘉宾们都会驾乘不同颜色的凌渡去完成一个个游戏任务，还别说这款车确实让跑男增添不少亮点。瞧这势气，三辆不同颜色的凌渡如同三兄弟，好像在怒吼：‘奔跑吧，兄弟’。
    </p>
    <p>
      一个是一夜爆红综艺节目王，一个是新晋人气轿跑王，对于这档节目和这辆车，我都充满了新奇。说到车，其实说来我也算半个小车迷了，小时候老爸因为工作关系经常带回很多汽车模型，我总是喜欢调皮地把这些模型一个个摆在地上玩耍，从那时开始我对汽车产生了小小情愫。于是，我在百度上开始了凌渡的地毯式搜索……
    </p>
    <p>
      凌渡的车身设计完全是按照轿跑的概念打造的，它的原身是前段时间在上海车展首度展出的‘NMC’概念车，只是当时还没量产，但是已受到外界不少好的反响。”
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>7/23</span>
  </div>
</article>