<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival3-2.jpg" alt=" ">

    <h4>聚梦共享</h4>
    <p>
      2015年1月9日下午1点，上海千禧海鸥大酒店大厅中已经聚集了几十位来自论坛、QQ群和大众媒体论坛的车主，他们穿着蓝白色上海大众俱乐部会员统一的服装，讨论着同一个话题——即将在当晚公布价格和细节配置的凌渡上市会。
    </p>
    <p>
      然而，在上市发布会前，大众一家·上海大众汽车俱乐部还为他们准备了一场与众不同的分享会。这场名为“聚梦共享2015大众一家俱乐部分享会”，是继2014年12月下旬车主共享会后，又一场车主与俱乐部工作人员的线下见面会，旨在加
    </p>
    <img src="img/new_arrival/new_arrival3-3.jpg" alt="">
    <p class="p-first">
      强俱乐部会员与俱乐部管理层之间的沟通，完善2015年俱乐部活动。
    </p>
    <p>
      分享会伊始，来自上海大众汽车大众品牌市场营销部关系营销科高级经理Oliver Scheen亲临现场，为分享会致辞，高级经理马俊杰先生向车主介绍了俱乐部从创立到发展的历程，详细解读了俱乐部会员四大权益体系和2014年俱乐部活动内容。关于2015年的新动向，他介绍道：2015年将新增积分政策，每个月都将有线上索票活动，尤其是将建立梦享基金，旨在帮助有梦想的车主圆梦等。此外，马俊杰先生还表示：大众一家俱
    </p>
  </section>

  <div class="art-pages-num">
    <span>12/23</span>
  </div>
</article>