<article class="art-content layout5">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival3-4.jpg" alt=" ">
    
    <p class="p-first">
      乐部不是上海大众自己的，而是属于每一位会员。大众一家所做的每一件事，都是顺应会员需求，并能够得到大家认可的。
    </p>
    <p>
      与上一次共享会不同，本次分享会还加入了以“梦享我知道”为主题的互动竞答环节，更灵活地调动了车主们发言的积极性。在游戏环节，除了竞答活动，车主们被分在六个组，每一组选派一名代表上台表演工作人员给到的趣味词汇，台下的队友猜词，在规定时间内猜出最多词汇的队伍获胜。最后史湘涛所在的第四小组凭借着“心有灵犀”的好彩头，勇夺桂冠，并有幸获得了韩寒亲笔签名的车模。整个活动在其乐融融的欢笑声中结束。
    </p>
    <p>
      活动尾声，马俊杰先生透露了车主们最关心的将在凌渡上市会登场的明星名单，但对于压轴的价格问题，马俊杰先生只用了“绝对劲爆，敬请期待”八个字，吊足了大家的胃口。那就让我们一起来看看车主们在上市会前有什么要跟我们说的。
    </p>
    <p class="p-dialog">
      <span>Polo 车主王梦涵女士：</span>
      其实之前对俱乐部活动的参与和了解都不多，不过，今天的分享会让我感觉非常好，尤其是马总的和气与亲民，我从来没有见过态度如此和蔼的领导；还有我们小组的一位“大师”，他非常专业地与大家分享了大众的种种，让从未细致了解过大众的我眼前一亮，今天分享会活跃、愉快的氛围，真的是不在现场的人难以想象、无法体会的。晚上的凌渡上市会活动我最期待的是能够看邓超和跑男，因为我就
    </p>
  </section>

  <div class="art-pages-num">
    <span>13/23</span>
  </div>
</article>