<article class="art-content layout3">
  <div class="label-float">新车驾到</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper1">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-6.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-7.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-8.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-9.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/new_arrival/new_arrival4-10.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination1"></div>
    </div>
  </div>

  <hgroup>
    <h1>魅力战袍之战</h1>
  </hgroup>
  <section>

    <h4>前大灯随动转向</h4>
    <p>
      弯道行驶时，凌渡智能领先的前大灯随动转向功能实时工作，根据车辆的转弯角度和行驶速度，自动将近光灯向转向内侧偏转，弯道内侧大灯最多偏转15°，弯道外侧大灯最多偏转7.5°，使驾驶员更容易掌握前方弯道的内侧路况，提早做出判断，避免危险事故发生。
    </p>

    <h4>近光灯照射高度自动调节</h4>
    <p>
      凌渡近光灯拥有照射高度自动调节功能，通过位于悬架上的位置传感器信号，可感知因前后排乘客数量及携带行李改变，而引发车体向前或向后的轻微倾斜变化，借助集成于前大灯内的精密调节电机，自动调节大灯照射高度，保证最佳的夜间行驶视野。
    </p>

    <h4>弯道辅助照明</h4>
    <p>
      凌渡传承颇具大众特色的弯道辅助照明系统，在两侧大灯内部各集成一盏高达55W的辅助照明角灯。夜间行车时，驾驶员在较低车速下转动方向盘，转向内侧角灯可自动亮起，为侧前方车身近处提供可靠照明，有效减小驾驶员近处盲区，显著提升夜间行车安全，特别适合路口等慢速急弯路况。
    </p>

    <h4>DLA 动态大灯</h4>
    <p>
     DLA动态大灯是提升夜间行车安全的又一利器，通过前风挡上部中央的多功能摄像头，凌渡行车电脑可实时发现来车状况。两车相会时，借助独特的微型遮光板和精密调节电机，可适当遮挡会车一侧的远光灯照射高度，避免对相向来车发生干扰；跟车前行时，亦可适当遮挡远光灯照射高度，避免对前方车辆驾驶员视线造成影响。
    </p>

    <h4>EPB 高效电子手刹</h4>
    <p>
      作为一款拥有前瞻科技魅力的实力车型，凌渡用电子按钮代替了传统手刹机械式拉杆，只需轻拉或轻按按钮，施加或释放驻车制动的过程将由电脑控制自动完成，尽享领先科技带来的神秘魅力。其还具有Auto Hold 自动驻车功能，只要速度为0，车辆会自动保持制动防止溜动，可以说任何时候都不会溜车。而且，停车超过10分钟或打开车门，驻车制动还会自动施加，独特的智能科技装备，彰显上海大众汽车周到安全的人性关怀。
    </p>

    <h4>MKE 疲劳监测</h4>
    <p>
     凌渡在同级别车型中首次选装MKE疲劳监测功能。正常驾驶时，行车电脑可实时监控方向盘转动情况、行驶速度、驾驶时长等诸多因素，综合分析驾驶员疲劳状态。甚至转弯时是否打转向灯这一细微动作，亦作为分析依据。一旦判断驾驶员可能产生疲劳风险，行车电脑将自动触发报警功能，通过仪表盘报警及蜂鸣声提醒驾驶员集中精神，或尽快停车休息。如此创新而智能的安全提醒，可有效减少驾驶疲劳对行车安全造成的隐患，彰显德系品质的领先安全理念。
    </p>

    <h4>ACC 自适应巡航</h4>
    <p>
      上海大众汽车为凌渡配备全新升级的定速巡航系统，只需车速超过30km/h便可启用。系统可根据行驶阻力变化，智能调节油门开度，确保车辆始终保持精确恒定的行驶速度。手动档车型正常换档后定速巡航还可自动维持。尤其令人惊叹的是，高配车型还可选装科技领先的ACC自适应巡航系统，借助隐藏在前保险杠内侧的120m远距离探测雷达，系统实时监控与前车之间的跟车间距，并提供“最小”、“小”、“中等”、“大”和“最大”5档间距选择。跟车间距过近时，行车电脑将自动控制油门和刹车，主动降低车速以保持合理的安全间距；跟车间距达标后，之前设定的巡航速度亦将自动恢复。甚至前车意外刹车停止，ACC自适应巡航系统也将主动帮助本车制动直至停车，3s内还可自动重新跟进。超过3s，按下动感真皮多功能方向盘上的“Resume”键亦可恢复。系统提供运动、经济以及普通三种操控模式，任何时候踩刹车或关闭开关，巡航模式即刻关闭。多功能组合仪表也将实时显示巡航系统的工作状态。ACC 自适应巡航系统将传统定速巡航的便捷舒适性提升至全新高度，有效缓解驾驶疲劳。拥有凌渡的长途旅行，早已变成悠然自如的驾乘享受。
    </p>

  </section>

  <div class="art-pages-num">
    <span>20/23</span>
  </div>
</article>