<article class="art-content">
  <div class="label-static">新车驾到</div>
  
  <section>
    <img src="img/new_arrival/new_arrival4-15.jpg" alt="">
        
    <p>
      变更旨在把“扭矩性能”直接体现在产品上。扭矩是除了马力之外，能够体现车辆性能的另一重要指标。扭矩性能在某些地理条件和道路条件下尤为重要，如繁忙的市区马路、需要经常启停的交通环境和坡道，而这些情况我们在中国市场经常碰到。扭矩体现的是一种牵引力，它决定了汽车加速的快慢和爬坡能力。高扭矩带来更高的总体性能表现，更好的行使性能，更多的驾驶乐趣以及更加舒适的驾乘感受。该变更符合发动机小型化的趋势，让用户更关注发动机性能而不是排量。未来的新能源汽车（NEV）将无法以发动机排量为依据进行标
    </p>
    <img src="img/new_arrival/new_arrival4-16.jpg" alt="">
    <p class="p-first">
      识。
    </p>
    <p>
      运动装饰点缀流线车身见证锋锐跑车，精湛内装融合人性装备成就奢适座驾，锋锐跑车唯有兼具奢适座驾而出众；完美发动机匹配新型变速器迸发强劲动力，超低风阻结合全面节油技术成就高效典范，强劲动力唯有成为高效典范而犀利；独立悬架搭配精准转向堪称操控利器，众多电子装备悉数配备成就前瞻科技，操控利器唯有集成前瞻科技而灵动。Lamando凌渡，凭凌风渡越的傲人姿态，让看似不能，成为可能。
    </p>
  </section>

  <div class="art-pages-num">
    <span>23/23</span>
  </div>
</article>