<article class="art-content ">
  <div class="label-static">新车驾到</div>
  
  <section>
    
    <p class="p-first">
      势。而且这次成都车展上，我也第一次近距离观察这辆酷到”零度冰点“的轿跑，让我印象最为深刻的是横向扩展的前脸，承袭了大众家族设计风格，配合锐气动感的前大灯为整车营造出坚毅、犀利的表情。锋视双侧线条从车身腰线贯穿而来，形成富有冲击力的型面变化。短前悬长轴距则淋漓诠释了美学与实用的平衡，让整个车身显得修长且具有张力。用手划过车身的质感，让我只想说：惊呆了我的小伙伴！
    </p>
    <h4>三顾茅庐成正果——广州车展预售开始</h4>
    <p>
      ”2014年11月20日广州车展，大众品牌除了携旗下十款重磅车型系数登场外，更是带来了全新打造的奢适宽体轿跑：Lamando凌渡。这台具备完美轿跑气质的宽体座驾，自八月成都车展亮相以来就成为了粉丝追逐的焦点。它是大众品牌核心价值中的创新典范，为此上海大众也创新地展开了全维度娱乐营销：与浙江卫视联手，强势冠名了时下的热点综艺节目‘奔跑吧兄弟’！。不仅跑男们大放异彩，Lamando凌渡的名号更是传遍街头巷尾，成为全城热议的话题。11月11日‘双十一’购物节，凌渡在尚未公布价格，消费者未曾试驾，具体装备线未正式公布，且需预付1万元定金的前提下，在天猫，京东、拍拍三个电商平台上，创下了单日2505台的订单记录，再次证明了Lamando凌渡毋庸置疑的人气。”
    </p>
    <p>
      （节选文章来源：厂商供稿11月20日）
    </p>
    <img src="img/new_arrival/new_arrival1-4.jpg" alt="">
    
    <h4>编辑歪说：</h4>
    <p>
      除了泪流满面，我还能说什么呢？准确地说，2013年11月我就开始伸长脖子等着凌渡上市，整整一年过去，终于盼到了这一天。广州车展上虽然并没有公布具体的价格和全面铺开的时间，然而在之后11月21日中午十二点整，一百台凌渡在官方平台上正式开抢，8分42秒即宣告售罄。面对这样的数据，再次刷新了我的想象，看来大家和我一样对Lamando凌渡上市表现充满期待。好啦，废话不再多说，我们一起来看看进入上市倒计时，媒体们都在说什么。
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>4/23</span>
  </div>
</article>