<article class="art-content layout11">
  <div class="label-float">积分回馈</div>
  <div class="integral color">
    <p class="integral-title">秘密一：积分大赠送</p>
  </div>
  <section>
    <h3>
      2014年9月5日—10月31日赠送50积分活动：
    </h3>
    <p>
        2015 年到来的一刻，我们充满无穷的希冀，而在这
一刻，我们也将要告别连载一年多的历史故事。并
不是我们把故事结束了，而只是为了另一个新的开
始，就如我们需要回眸，更需要远望。2015 年《大
众一家》将要在新春后进行一次大改版，届时，我
们将更多地把视线聚焦于车主。说一千道一万，对
历史故事板块稍有些不舍，在这“曲终人散”之时，
代表所有支持过我和还在阅读这一板块的朋友，谢
谢大家，并敬请期待2015 年改版后的《大众一家》，
我们不见不散。
    </p>
    <p>
        2015 年到来的一刻，我们充满无穷的希冀，而在这
一刻，我们也将要告别连载一年多的历史故事。并
不是我们把故事结束了，而只是为了另一个新的开
始，就如我们需要回眸，更需要远望。2015 年《大
众一家》将要在新春后进行一次大改版，届时，我
们将更多地把视线聚焦于车主。说一千道一万，对
历史故事板块稍有些不舍，在这“曲终人散”之时，
代表所有支持过我和还在阅读这一板块的朋友，谢
谢大家，并敬请期待2015 年改版后的《大众一家》，
我们不见不散。
    </p>
    <p>
        2015 年到来的一刻，我们充满无穷的希冀，而在这
一刻，我们也将要告别连载一年多的历史故事。并
不是我们把故事结束了，而只是为了另一个新的开
始，就如我们需要回眸，更需要远望。2015 年《大
众一家》将要在新春后进行一次大改版，届时，我
们将更多地把视线聚焦于车主。说一千道一万，对
历史故事板块稍有些不舍，在这“曲终人散”之时，
代表所有支持过我和还在阅读这一板块的朋友，谢
谢大家，并敬请期待2015 年改版后的《大众一家》，
我们不见不散。
    </p>
  </section>
</article>