<article class="art-content layout3">
  <div class="label-float">经销商</div>
  <img src="img/dealer/dealer3.jpg" alt="">
  
  <hgroup>
    <h1>同心·聚力炼团队舌<span>中南趣味运动会</span></h1>
  </hgroup>

  <section>
    <p>
      中南支部一直秉承员工是上海大众最宝贵的财富，一直信奉十双筷子抱成团和众人拾柴火焰高的团队信念。因此，为了培养员工积极向上、朝气蓬勃的精神面貌，提高员工团队协作能力和团队合作精神，打造一个既有健康体魄又有坚强意志的团队，中南支部宣传小组和生活小组特意为大家精心策划了一场集竞技、娱乐和健身为一体的趣味运动会。
    </p>
    <p>
      11月初，上海大众中南支部“同心·聚力“第二届趣味运动会顺利召开，中南支部所有成员分成三个队伍，分别是大众行动派，大众梦旅人和大众探索者。运动会开幕式上，支部书记张宁彬为三队颁发队旗，并致辞为各队鼓舞士气，接着，三个队在队长的带领下慷慨激昂地呐喊出各自队伍的口号，整个场馆顿时气氛热烈，人声鼎沸。运动会6大项目的共同点便是兼具趣味性和团队性，大家对各比赛项目都充满兴趣，展现出摩拳擦掌、跃跃欲试之态。各队长则根据报名队员排兵布阵，每人至少参加1—3个项目，确保全民参与，个个上阵。比赛在主持人介绍完赛制规则后，便在一片加油呐喊声和欢笑声中火热开展起来。最考验沉着冷静心态的是趣味羽毛球，在其他队的外界干扰下，既考验发球和接球的准确性又考验完成时间；最体现合作精神的是环环相扣，5个队友依次连接腰部最后同时冲刺赛道；最讲究默契度和计谋的是群雄逐鹿，每队两人三足捆绑并在脚上绑上气球，如何进攻和防守是制胜关键。趣味运动会，时而屏息祈祷，时而又爆发出不可抑制的大笑；时而鼓掌庆贺，时而叹息遗憾。
    </p>
    <p>
      比赛历时3个小时，员工们在比赛中展现了各自专长和才智，也享受到团队的力量和运动的乐趣。比赛进入到最后环节——颁奖仪式。本次运动会设置了个人奖和团队奖，支部书记张宁彬为最佳团队颁奖，并总结到：不论个人多么优秀多么强大，也无法凭借某个人的力量让团队获胜，只有加入到团队中去，整个团队群策群力、齐心协力，才能帮助团队获胜。所以，没有完美的个人，只有完美的团队。中南支部全体在比赛中享受快乐，在欢乐中各有收获，亲身体验了支部书记所总结的个人和团队的关系，深深体会了团队精神对于个人和集体的重要性，思考在以后的工作中如何更好地与他人进行配合，共同打造一个紧密团结、高效执行的中南支部。
    </p>
  </section>

  <div class="art-pages-num">
    <span>3/4</span>
  </div>
</article>