<article class="art-content layout3">
  <div class="label-float">经销商</div>
  <img src="img/dealer/dealer4.jpg" alt="">
  
  <hgroup>
    <h1>舌尖上的新青年<span>上海大众汽车New Polo美食之旅完美落幕</span></h1>
  </hgroup>

  <section>
    <p>
      2014年11月20-21日，北方区域以一场“舌尖上的新青年——上海大众汽车New Polo美食之旅”为主题的活动，在沈阳市火热拉开帷幕。在此次美食探索之旅的道路上，东北商务处与当地经销商竭诚协作，携最新款New Polo重磅出击，带领沈城各大主流媒体及意见领袖在这北方初冬的寒冷里掀起一股探访沈城那些鲜为人知的美食之旅热潮，汽车文化与美食文化的完美融合使整个美食探索之旅更有韵味更有范。
    </p>
    <p>
      活动开始前一周，东北商务处便与沈阳地区6家经销商进行反复推敲，通过店头宣传、自有媒体及新媒体等多种形式进行宣传。同时，经过前期的物料准备，关卡的精心设计，巡游路线的缜密制定，两个美食之旅探访小组，顺利组队。为了增强参与者的体验，活动设计制作了主题外套、号码牌等物料，活动开始前派发给每个人并装备完整。既保证了美食队伍的整齐美观，又在队伍行进互动过程中达到了规模性的宣传效果。
    </p>
    <p>
      活动当天，由媒体代表、意见领袖以及五台New Polo组成的20人车队整装出动，开始在整个城市巡游，同时进行探寻美食的过程。在巡游中各个路线的关键点都设置了相应的关卡，全体成员需要通过“跨越高墙”、”大胆创造“、”挑战一切“等关卡，一步一步得到相关线索，最终整合到一起，才能得到探访美食的地点。整个过程，环环相扣，任务不断升级，使活动的趣味性大大提升。通过大家的齐心协力，最终一行人顺利抵达了目前沈阳最火的私厨——上官秘制，以及在沈阳人气最旺盛的海鲜烧烤——釜山海鲜。大家品尝美食，开怀畅聊，感受着上海大众汽车无微不至的陪伴及New Polo新青年的热情。
    </p>
    <p>
      整个美食之旅活动持续了2天，两条路线规划分别为21.7公里及18.9公里，涵盖沈阳两大汽车园区及市内五区，途经沈阳横向及纵向一级马路，巡游线路设计周全的同时，覆盖北陵公园，市府广场，大帅府及龙之梦公交枢纽中心等标志性地段和建筑物，形成活动影响力的最大化和最优化。
    </p>
    <p>
      当美食遇到New Polo，发现美食的过程不再是脚步匆匆的奔波之旅，而是New Polo以卓越驾乘品质带来的全新体验，让美食之旅变得多姿多彩。这就是我们想要传达给每个Polo潜在客户的新青年精神！
    </p>
  </section>

  <div class="art-pages-num">
    <span>4/4</span>
  </div>
</article>