<article class="art-content layout3">
  <div class="label-float">经销商</div>
  <img src="img/dealer/dealer2.jpg" alt="">
  
  <hgroup>
    <h1>其乐融融大家庭<span>大众一家俱乐部西南区域相关工作推进</span></h1>
  </hgroup>

  <section>
    <p>
     随着汽车市场竞争的日趋激烈，忠诚度营销逐渐成为各汽车厂商关注的重点，而培养客户忠诚度和提升客户满意度就成了经销商工作的重中之重。大众一家，是上海大众VW品牌维系客户、培养客户忠诚度和提升客户满意度的重要平台。
    </p>
    <p>
      为了推进大众一家俱乐部在西南地区的相关工作，2014年12月上旬，在总部VW品牌关系营销科的牵头下，西南RSSC售后部针对“成都粤邦”和“四川广博”两家经销商进行了为期两周的入店辅导，旨在帮助经销商了解如何运用大众一家这个平台来维系基盘客户，帮助服务总监和客户关爱总监意识到该项工作的重要性，以及帮助相关人员懂得如何协助车主注册入会和在iCrEAM系统上操作积分模块。本次辅导通过入店调研、模拟测试、真实操作等环节，结合总部下发的培训资料与指导手册，总结出一套适合当地经销商的工作方案，并对服务顾问、客户关爱专员，以及结算员进行了相关业务的培训。辅导过程中，两家经销商参与意愿强烈，配合积极，在接受辅导的同时，也提出不少宝贵的建议。
    </p>
    <p>
      此次辅导结束之后，西南RSSC售后部结合两家经销商的反馈情况，完善辅导流程、以点带面地继续推行大众一家相关工作。随后将对其售后商务经理以及成都主城区经销商的服务总监和客户关爱总监进行集中培训，并预计将在2015年第一季度完成对重庆、昆明、贵阳、南宁四个城市主城区各家经销商的集中培训，各地州市的经销商将由售后商务经理在随后的走访中完成相关内容的培训。
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/4</span>
  </div>
</article>