<article class="art-content">
  <div class="label-static">品牌新闻</div>
  
  <section>
    
    <img src="img/news/news2.jpg" alt="">
    <h4>从研发投入看造车实力</h4>
    <p>
      近日，美国《财富》杂志对2013年全球1000家企业在技术研发领域的投资进行调研。在世界十大研发投资企业中，大众汽车集团名列第一，领先于三星、英特尔、微软等传统印象中极具创新精神的企业。在过去的一年里，大众汽车集团在尖端技术开发领域的投资达到135亿美元，占整个销售比重的5.2%。这一数字甚至比同样入围“十大研发投资企业”的丰田多出了整整44亿美元。
    </p>
    <p>
      作为大众汽车集团在华合资企业，上海大众汽车也同样专
    </p>
    <img src="img/news/news3.jpg" alt="">
    
    <p class="p-first">
      注于技术研发。30年来，上海大众汽车秉承德系精湛工艺，同时深刻洞察市场需求，为消费者打造拥有德系经典品质、符合国内消费需求的产品。
    </p>
    <p>
      从第一辆桑塔纳组装下线开始，上海大众汽车便开始了对技术研发的探索。成立伊始，上海大众汽车通过引进国际先进技术、坚持严格造车标准，成功实现了桑塔纳国产化。90年代起，企业参与到桑塔纳2000、帕萨特的联合开发中，吸取了宝贵的经验。而从新帕萨特的研发工作起，上海大众汽车开始直接参与到基于全球性视野的全新一代产品开发，其研发工作也
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/8</span>
  </div>
</article>