<article class="art-content">
  <div class="label-static">品牌新闻</div>

  <section>

    <p class="p-first">
      生活消费者的亲睐，自推出以来月均销量破万。越级风尚跨界车朗境不仅拥有动感不羁的跨界造型，更配备了炫银野趣车顶行李架、自由之境大包围等齐全的越野套件和专属智趣换挡拨片，相伴追逐自由的消费者左右。越级时尚运动车新朗逸运动版和朗行运动版，以运动车型强烈的动感造型，搭配专属的灵动换挡拨片，成为激情活跃消费者的出行伴侣。越级高效环保车朗逸蓝驱技术版不仅搭载驻车启停及制动能量回收系统，同时配备低滚阻节能轮胎，以革新的蓝驱技术为致力于环保的消费者打造低排放、低油耗的环保座驾。
    </p>
    <p>
      自Lavida品牌形成家族化体系以来，它旗下六款各具特色的产品，不断给我们带来惊喜。未来，它将以丰富的产品序列和积极向上的品牌理念，为热爱生活的消费者带来充满活力与乐趣的驾驭体验。
      费者打造低排放、低油耗的环保座驾。
    </p>
    <p>
      自Lavida品牌形成家族化体系以来，它旗下六款各具特色的产品，不断给我们带来惊喜。未来，它将以丰富的产品序列和积极向上的品牌理念，为热爱生活的消费者带来充满活力与乐趣的驾驭体验。
    </p>

    <h4>相约途安 2015 款驶向幸福新年</h4>
    <p>
      随着新年春节的到来，越来越多人选择以自驾的方式回家团聚。上海大众汽车智能家用MPV途安2015款，拥有灵活宽敞的空间、可靠的安全保障以及智能便捷的科技配置，相伴车主
    </p>

    <img src="img/news/news7.jpg" alt="">
    
    <p class="p-first">
      度过幸福温馨的回家旅途。
    </p>
    <h4>安全让归途更贴心</h4>
    <p>
      途安以其智能全面的主被动安全配置，为自驾回家过年的车主们提供行车安全保障。途安2015款配备的ESP电子稳定系统，集成了ABS、MSR和ASR等多项主动安全功能，有效保持车辆的行驶稳定性。加上坡道起步辅助系统、智能胎压检测系统等人性安全配置，共同为驾驶者保驾护航。此外，途安2015款还配备有全方位安全气囊，加上高度可调功能的WOKS安全头枕，给予驾乘者更全面的保护。其配备的ISOFIX儿童安全座
    </p>
  </section>

  <div class="art-pages-num">
    <span>5/8</span>
  </div>
</article>