<article class="art-content">
  <div class="label-static">品牌新闻</div>

  <section>
    <p class="p-first">
      椅同步固定装置将整车与儿童座椅牢固连接，让孩子在回家旅途中安全无忧。
    </p>

    <h4>空间让归途更舒适</h4>
    <p>
      过年回家，大大小小的年货、行李承载着人们新年团聚的喜悦。途安2015款的储物空间丰富便捷，即使行李满满，也能一路轻松惬意。其基本行李箱容积达620L，第二排座椅折叠后的行李箱容积可拓展至1900L，满足车主运载大件行李的需要。此外，途安2015款的车内配有大容量多级车顶储物盒，车主途经高速需要经常取放的磁卡、零钱以及太阳镜、钱包、小饰品等都可轻松取放；后排车门及前排座椅靠背专门设置了杯托及储物袋，方便后排乘客饮料或小件物品存放。
    </p>
    <h4>智能让归途更愉悦</h4>
    <p>
      漫漫回家路，途安2015款贴心地为驾车人员配备了全新升级的多功能导航系统。该系统特别增加了全方位三维地形图，让驾驶者清晰辨识回家的道路。为减少长途驾车的疲惫，途安2015款搭载了先进的多媒体娱乐系统。该系统集合收音机、MP3播放、SD卡音乐播放接口、带iPod/iPhone音乐播放的USB接口等多样播放选择，可将个人移动音乐设备与车载音响连接，享受便捷与个性化的娱乐驾乘体验。先进的8喇叭高保真立体声扬声器，高低声道均有较宽音域表现，优美音乐与动人音效让回家的路充满乐趣。
    </p>
    <p>
      途安2015 款凭借全面的安全配置、丰富便捷的空间设计
和智能愉悦的科技配置，让车主舒享温馨惬意的春运回家之旅，
与家人共度幸福新年。
    </p>
  </section>

  <div class="art-pages-num">
    <span>6/8</span>
  </div>
</article>