<article class="art-content">
  <div class="label-static">品牌新闻</div>
    
  <hgroup>
    <h1>智能科技 德系安全<span>2015款新桑塔纳打造优质驾乘体验</span></h1>
  </hgroup>
  <section>
    
    <p>
      近日，经典德语音乐剧《伊丽莎白》首次来华公演，其充满张力的表演和令人赞叹的舞美引发观剧热潮。《伊丽莎白》被称为“引领欧洲音乐剧复兴之作”，自1992年首演以来数十年久演不衰，并不断推陈出新。同样，拥有悠久品牌历史的桑塔纳，曾经的一句“拥有桑塔纳，走遍天下都不怕”仍深深刻在人们脑海中，如今2015款新桑塔纳以品牌一贯的卓越品质和升级的科技配置为消费者带来更好的驾乘体验。
    </p>

    <h4>科技配置 乐享驾驭</h4>
    <p>
      2015款新桑塔纳采用多项科技配置，为车主在驾乘途中增添惬意享受。其配备的多媒体娱乐系统，支持CD/MP3/WMA等多种格式的媒体文件，通过音质出色的高保真立体音响，创造非凡的听觉享受。多媒体娱乐系统的播放音量还可随车速自动调节，让驾乘人员悠然享受驾驶旅途。2015款新桑塔纳还拥有定速巡航功能，根据车辆行驶阻力的变化智能调节油门，使车辆保持匀速行驶，解放车主右脚，打造轻松出行。
    </p>
    <h4>德系安全 出行保障</h4>
    <p>
      可靠的品质是安全行车的关键。2015款新桑塔纳采用大量优质高强度钢板打造高刚性车体，为驾乘人员提供有力安全呵护。此外，它装备的A、B柱热成型加强板，抗拉强度达到普通
    </p>

    <img src="img/news/news9.jpg" alt="">
    
    <p class="p-first">
      钢材的5倍以上，并且采用世界领先的整体式一次冲压成型工艺制造车门，提高车身装配尺寸精度，打造可靠侧面保障。此外，2015款新桑塔纳车体采用环保理念的水性漆，色彩鲜亮，配合阴极电泳涂装技术对车身进行从里到外的防锈处理，保证了整车良好的防腐性能。种种先进工艺共同打造2015款新桑塔纳的安全车身，保障车主平安出行。
    </p>

  </section>

  <div class="art-pages-num">
    <span>8/8</span>
  </div>
</article>