<article class="art-content">
  <div class="label-static">品牌新闻</div>
  
  <section>
    
    <img src="img/news/news4.jpg" alt="">
    <p class="p-first">
      逐步纳入大众汽车集团全球开发体系。
    </p>
    
    <p>
      一家汽车企业在研发领域的投入力度，直接体现了车企的车企的造车实力和市场竞争力。从1996年起，上海大众汽车成立了专门的技术中心，并建立了国内一流的研发基地。从2011年至2013年的三年来，企业累计在研发领域的投入超过104亿人民币。近年来，从上海大众汽车的研发基地陆续驶出了新帕萨特、新朗逸、朗行、朗境、新桑塔纳、新途观等一系列深受市场欢迎的产品。而在日前举行的广州车展上，上海大众汽车Lamando凌渡也正式启动预售。作为上海大众汽车首款轿跑车
    </p>
    <img src="img/news/news5.jpg" alt="">
    <p class="p-first">
    型，Lamando凌渡为中国市场量身定做，无论是时尚动感的外观、简约精致的内饰，还是前瞻智能的配置，都为中国消费者诠释了一款中高级轿跑的雄厚实力。
    </p>
    
    <p>
      为每一位消费者用心造好每一款产品，是上海大众汽车始终坚持的理念。从最早的桑塔纳到如今的凌渡，从起初的引进成熟车型到如今针对中国市场全新开发，越来越多由上海大众汽车研发团队精心打造的车型获得了消费者的支持与信赖。未来，上海大众汽车也将持续专注技术研发，为国内消费者打造更具科技感、品质感的汽车生活。
    </p>
  </section>

  <div class="art-pages-num">
    <span>3/8</span>
  </div>
</article>