<article class="art-content">
  <div class="label-static">品牌新闻</div>
    
  <hgroup>
    <h1>浪漫星雨<span>与2015新款桑塔纳开启精彩旅程</span></h1>
  </hgroup>
  <section>
    
    <img src="img/news/news1.jpg" alt="">
    <p>
      12月14日，双子座流星雨进入最佳观赏期。相约亲友出门观赏流星，是一件幸福又浪漫的事。上海大众汽车2015款新桑塔纳，以大气时尚的外观和智能安全的配置，陪伴车主享受这场夜游之旅。
    </p>

    <h4>外观大气 新时尚演绎经典</h4>
    <p>
      2015款新桑塔纳继承大众汽车家族经典设计语言，以时尚造型与精致细节为车主浪漫观星之旅增添时尚体验。
    </p>
    <p>
      2015款新桑塔纳飞翼式立体前大灯犀利有型，横拉式镀铬进气格栅大气经典。前雾灯、门把手、门下沿、后行李厢盖等处饰以镀铬装饰条，于细节处提升了整车质感。15吋十幅条精工铝合金高光轮毂，时尚与动感兼具。在尾部造型方面，2015款新桑塔纳用严谨的线条勾勒出洗练的尾部轮廓，熏黑尾灯搭配简约立体的灯腔内部结构，增添尾部视觉张力。
    </p>

    <h4>配置智能 真品质保驾护航</h4>
    <p>
      夜间出行，行车安全不容忽视，2015款新桑塔纳以优良品质为车主保驾护航。
    </p>
    <p>
      2015款新桑塔纳拥有静态弯道辅助照明系统，当近光灯开启，车速小于40km/h 时，只需轻拨转向杆，打开转向灯，相应一侧的雾灯辅助转向灯则会亮起，为弯道侧前方60°范围内提供照明，显著提高过弯的安全性。在紧急制动方面，2015款新桑塔纳配备了HBA紧急制动系统，实时监控驾驶员踩制动踏板的压力和压力变化率，一旦判定存在完全制动需求，系统自动将制动力增至最大，缩短制动距离，夜间行车更加安全放心。夜晚归来，2015款新桑塔纳更以智能安心的倒车雷达配置，为美妙行程划上完美句号。
    </p>
  </section>

  <div class="art-pages-num">
    <span>1/8</span>
  </div>
</article>