<article class="art-content">
  <div class="label-static">途观之旅</div>

  <section>
    <img src="img/tiguan/tiguan4.jpg" alt="">
  
    <p class="p-first">
      站，这里距离金边100多公里。从古到今，凡是从金边抵达吴哥窟的人，都会到这里休息。久而久之，从最初只能喝水的地方成为了今天这个卖有形形色色食物的休息站。而如今，这里又多了一个乐趣，挑战柬埔寨的小怪物——毒蜘蛛。
    </p>
    <p>
      挑战这些蜘蛛，是很多外国人途经此地最喜欢做的事情。这些蜘蛛在柬埔寨极其常见，当地人叫它们黑蜘蛛。它们体内有大量的毒素，闻到自己喜欢的食物味道，就会迅速释放出毒液，被毒者则活不到两秒钟。这些蜘蛛喜欢人脸的味道，所以不懂如何控制蜘蛛的杜雨阳，只要不让蜘蛛爬到脸上，就不会发生可怕的事情。
    </p>
    <p>
      其实，这些毒蜘蛛并不是柬埔寨人拿来做宠物的，而是它们休闲时的美味零食。同时，外国人的好奇令这些蜘蛛也成为了柬埔寨人赚钱的工具。两只油炸后的蜘蛛就能卖上一美金的好价钱，很多周边的小朋友都会在课余时间聚集这里卖他们的美味蜘蛛，赚些零用钱。
    </p>
    <p>
      在这里，你会发现一个很有意思的现象，就是在柬埔寨人的观念里，似乎所有油炸后的食物都是美味佳肴。所有能看到，能捉到的东西，也都能油炸。所以，在柬埔寨办个昆虫盛宴，菜品应该非常丰盛。而这些昆虫也养活了80％的柬埔寨人。
    </p>
    <p>
      那些卖蜘蛛的很多都是小朋友，他们大的十多岁，小的才三四岁。杜雨阳从他们那里得到了一个很重要的信息，他要找的柬币风景石基桥就在前面五公里的地方。历经坎坷，杜雨阳终于找到了石基桥。
    </p>
    <p>
      5000柬币上的这座石基桥之所以被当地人称为耻辱桥，是因为当时柬埔寨被暹罗王朝攻打节节败退，最终暹罗人攻占了城池。柬埔寨国王带着将领逃到这个地方修建了这座桥，为了警示自己记住这耻辱的教训。
    </p>
  </section>

  <div class="art-pages-num">
    <span>5/11</span>
  </div>
</article>