<article class="art-content">
  <div class="label-static">途观之旅</div>

  <section>
    <img src="img/tiguan/tiguan14.jpg" alt="">
    
    <h4>时光棕榈树</h4>
    <p>
      500柬币上的这张图案，是吴哥窟的小吴哥寺庙，它是在巴戎寺之后修建的世界最大的寺庙。它不仅被印在柬币上，也被历代国王印在柬埔寨国旗上，而世人形容它只有两个字“神秘”。
    </p>
    <p>
      小吴哥被世人定义为神秘的寺庙，因为它曾经被茫茫森林覆盖，在人类历史上消失了几百年。直到1861年，法国博物学者亨利穆奥为采集一种珍奇的蝴蝶标本来到这里无意中发现了它，小吴哥才再次被世人知晓。从被发现至今，已经有上百个
    </p>
    <img src="img/tiguan/tiguan15.jpg" alt="">
    
    <p class="p-first">
      科学家都进入小吴哥进行研究解密，但至今仍然有许多谜团没有解开。
    </p>
    <p>
      刚走进小吴哥的大门，就看到小吴哥营造神秘气氛的第一个元素——棕榈树。在小吴哥正殿到大门之间，有一片上万亩的空地。但千年来，除了六棵棕榈树，再无其他植物在这里生长。虽然无人知晓原因，但这里的柬埔寨人世代相承，担负起照顾这六棵棕榈树的重任。
    </p>
    <p>
      棕榈树，是柬埔寨的国树，以前的国王规定每家每户至少要种植三棵棕榈树，因为棕榈树全身都是宝。它的叶子可以做
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>10/11</span>
  </div>
</article>