<article class="art-content layout5">
  <div class="label-static">途观之旅</div>

  <section>
  
    <p class="p-first">
      佛台上，供奉焚香请求先人的同意，然后才能进行演出。
    </p>
    <p>
      高棉微笑的石像在柬埔寨人心中不仅仅是一个遗址、一个旅游圣地，更是一个先人留下的神圣建筑。他们将高棉微笑背后的故事化作了活灵活现的歌舞剧，生动的演绎给来自世界各地的游客。在歌舞剧中，这些柬埔寨人无时无刻不在向观众传达，修建吴哥窟的先人们努力执着的精神。所以，柬埔寨人认为高棉的微笑是先人执着的笑。
    </p>
    <p>
      昨晚在演出中，杜雨阳看到的是柬埔寨人自己对高棉微笑的理解。但杜雨阳对高棉微笑并没有产生同样的理解。今天，向导黄先生约杜雨阳去了一个地方并告诉他，在那里杜雨阳一定能看到心中的高棉微笑。
    </p>
    <p>
      杜雨阳和黄先生来到柬埔寨人的夜市，这里距离吴哥窟不到五公里，每天天刚黑就会有三五成群的人铺一块布，坐下来吃东西聊天。来到这个夜市街你会发现，无论他们是否认识你，无论语言能否沟通，他们都会热情的让你坐下来，一起喝酒、一起欢笑，这种笑没有任何理由和目的，是纯净而善良的笑。
    </p>
    
    <p>
      杜雨阳突然懂了，高棉的微笑背后的含义其实是看它的人所附加的。纯净的人看到的是善良的笑，多疑的人看到的是讽刺的笑，内心不安而愧疚的人看到的是宽容的笑，高棉的微笑就是每位观者内心的笑。
    </p>
    
    <img src="img/tiguan/tiguan11.jpg" alt="">
  </section>

  <div class="art-pages-num">
    <span>9/11</span>
  </div>
</article>s