<article class="art-content layout5">
  <div class="label-static">途观之旅</div>

  <section>
    <img src="img/tiguan/tiguan13.jpg" alt="">

    <h4>微笑的意义</h4>
    <p>
      吴哥窟是柬埔寨东北部一个古老的王朝遗留物，是柬埔寨唯一能向世界证明自己辉煌过的建筑。所以，柬埔寨人将吴哥窟中最重要的两处风景分别印在了500柬币和20000柬币上，因为这两张柬币是柬埔寨流通最为频繁的货币。
    </p>
    <p>
      20000柬币上印着一个微笑的石像，看似简单的微笑却引起了全世界的关注。凡是来到柬埔寨的人，一定会到吴哥窟寻找这个石像，亲眼看看石像上的微笑。而每一个看过的人，大都有这样的描述“这个微笑是世界上最美最宁静的微笑。”
    </p>    
    <p>
      柬埔寨人也被称为高棉人，所以有人说这个石像上刻画的笑容就是这些高棉人的微笑。但为什么一个高棉人的微笑会轰动世界，会成为最美最宁静的笑容，令杜雨阳有些不解。
    </p>
    <p>
      杜雨阳从石基桥出发，继续沿着六号公路走五个小时，到达吴哥窟的所在地。吴哥窟是吴哥王朝时期修建的寺庙集合体，这里拥有世界上最多的寺庙和最大的寺庙。而“高棉的微笑”就在吴哥窟中一个名为巴戎寺的寺庙中。
    </p>
    <p>
      巴戎寺位于吴哥王城的正中央，距离各个城门都是1.5公里。整个巴戎寺是由49座大大小小的佛塔所组成，其中最大的佛塔高约40多米，其余48座佛塔如众星捧月般簇拥在它的周围。而这49座佛塔顶，刻着巨大的四面佛，四面佛就是高棉的微笑。
    </p>
  </section>

  <div class="art-pages-num">
    <span>6/11</span>
  </div>
</article>