<article class="art-content">
  <div class="label-static">途观之旅</div>

  <section>
    <img src="img/tiguan/tiguan2.jpg" alt="">
  
    <p>
      这次，杜雨阳要从柬埔寨的首都金边出发，寻找印在柬埔寨货币上最特别的几处风景。对于柬埔寨的货币，也许他们自己国家的人都从未仔细欣赏过。走进柬埔寨的大街小巷、商场餐厅，就犹如进入了使用柬文的美国。很多标价都用美元，甚至有些自动取款机里也只能取出美金。跟三轮车夫砍价都是以美刀论，柬埔寨的小朋友卖起东西来，也时常笑着对你说“one dollar”。
    </p>
    <p>
     柬埔寨货币单位叫里尔，这套通用的柬埔寨货币最大面值是20000里尔，最小则是100里尔。其实，还有更大的面值。不过，几乎不流通。而杜雨阳要寻找的柬币风景，分别印在100里尔、5000里尔还有10000里尔上。
    </p>
    <p>
      10000柬币上的建筑在金边最繁华的地方，也是柬埔寨唯一金碧辉煌的地方——它就是金边大皇宫。金边大皇宫又称四臂湾大皇宫，坐落于金边东部，处于湄公河、洞里萨河、巴沙河交汇处。金边大皇宫始建于十九世纪，是典型的高棉式建筑，也是柬埔寨人民最爱戴的国王西哈努克生活和居住的地方。至今为止，这座大皇宫里还住着一位特别的人物——柬埔寨史上最漂亮的王妃。
    </p>
    <p>
      柬埔寨最漂亮的王妃是莫尼克公主，她的美丽在世界上位居前五，她是西哈努克的第六任妻子。莫尼克的父亲是个有意大利血统的法国人，母亲是带有中国血统的柬埔寨人。所以莫尼克公主兼有东方女子的典雅之美和西方女子的飘逸之美，是世界上少有的国色天香。
    </p>
    <p>
      杜雨阳在皇宫中发现了一张莫尼克公主晚年的照片，虽然照片是晚年的样子。但是从照片中依然可以推断出她年轻时真的像传说中那么的美丽漂亮。如今，莫尼克公主的美丽已经化作晚年慈祥的面孔，但她与西哈努克的回忆之城，依然富丽辉煌毫无退色。金边大皇宫在柬埔寨最重要的洞里萨湖湖畔，它静静地看着日落，等待着下一个日出。
    </p>
    <p>
      在柬埔寨，最难熬的是酷热的气候。柬埔寨在北纬13度
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/11</span>
  </div>
</article>