<article class="art-content">
  <div class="label-static">途观之旅</div>

  <section>
    <img src="img/tiguan/tiguan9.jpg" alt="">
    
    <p>
      关于高棉的微笑，民间有着这样的传说：据说柬埔寨的七世国王非常关爱他的臣民，在位期间修建了很多医院和学校。人民为了纪念他，就把他的笑脸当成佛像。刻到石柱的四个侧面上，寓意国王的关爱关照着四面八方。他们把佛教里面用来放在脚下的莲花放在佛像的头上，寓意七世国王是个非常谦逊虔诚的佛教徒，这就是高棉微笑的由来。
    </p>
    <p>
      20000柬币上的微笑，是这49座佛像笑脸中最特别的一个。它笑容中掺杂着慈、悲、喜、舍，不同角度观察会有不同的感受，仿佛心中藏着什么世人永远无法了解的秘密。
    </p>
    <img src="img/tiguan/tiguan10.jpg" alt="">
    <p>
      太阳落山了，这些石像依然保持着静谧的微笑。它们不知道经历了多少个王朝的日出日落，看了多少人出出入入的身影。唯独没有改变的就是它们一成不变的笑容。
    </p>
    <p>
      离开巴戎寺，杜雨阳想了很多。但依然没能理解，高棉微笑真正的含义。但在巴戎寺东北方向10公里处，有一群柬埔寨人专门演绎高棉的微笑。将一个个笑容化作一段段故事，讲述给所有来到这里的人。
    </p>
    <p>
      他们是演绎高棉微笑的歌舞剧演员，是柬埔寨唯一被赋予演出资格的人们。每次演出之前，他们都要将头上的饰物放在
    </p>
  </section>

  <div class="art-pages-num">
    <span>8/11</span>
  </div>
</article>