<article class="art-content">
  <div class="label-static">途观之旅</div>

  <section>
    <img src="img/tiguan/tiguan16.jpg" alt="">
    
    <p class="p-first">
      草帽草席，它的枝干可做建材，它的果实流出来的汁液是清凉解暑的最佳饮品。棕榈树是有性别之分的，母树结出的果实又圆又饱满，但公树不会结果。母树果实做出来的消暑饮品的口感是最好的，每到果实成熟时，当地人会把母树的果实上端削掉一个口，然后把竹筒挂上去，这样果实的汁液就会流到竹筒中，供人们饮用。
    </p>
    <p>
      尼窟照顾的这六棵棕榈树，十分奇特。一般棕榈树自然生长大概能活个100多年，但小吴哥中的这六棵却至少活了两三百年。只有当一棵棕榈树即将死亡时，才会有一棵新的棕榈树出现。如今，六棵棕榈树已经成为了尼窟一家的生活来源。他们靠棕榈树生活，棕榈树在尼窟一家照顾下，继续繁衍生息守卫小吴哥。
    </p>
    <p>
      浮雕，是小吴哥被赋予神秘的第二个元素，它们虽然并不精美，但十分奇特。浮雕雕刻的是印度佛经里神的故事，虽然篇幅很长但却一幅不差地刻画在石壁上，先人们似乎是以这种方式向后人传达着什么讯息。
    </p>
    <p>
      但是当杜雨阳走入二层、三层时，浮雕的内容却完全不同。每面墙壁上都刻有上千个仙女的雕像，千姿百态幅幅不同。不过，在小吴哥中，让考古学家最无法解释的是，整座建筑没有石灰水泥，没有钉子梁柱。古人却像堆积木一样，将巨大的石头堆成吴哥建筑，千年来却没有任何坍塌，没有任何裂痕。
    </p>
    <p>
      小吴哥在柬埔寨的史书中，被记载成宇宙的中心。也许是当时的国王为了显示自己的实力，按照印度教中的宇宙中心说设计的。中心塔象征着神山，位于宇宙中心，城内的其他建筑则象征着天与地。城墙是世界的边缘，而护城河则是世界之外的海洋。
    </p>
  </section>

  <div class="art-pages-num">
    <span>11/11</span>
  </div>
</article>