<article class="art-content">
  <div class="label-static">途观之旅</div>

  <section>
  
    <p class="p-first">
      上，属于热带季风气候，一年中最低的气温都在二十几度，而现在正是柬埔寨最热的季节，白天温度达到了40度。所以，在柬埔寨无论做什么事情，首先要解决的就是降温。夏季在外面，感觉到的是皮肤被太阳灼烧着的感觉，但一进入途观车，就仿佛进入了凉爽温和的春季，没有什么滋味比这更幸福了。
    </p>

    <h4>沉浮岁月</h4>
    <p>
      100里尔上的风景是个备受争议的建筑，它是柬埔寨人耻辱的教训。但柬埔寨人却时时朝拜它，甚至当初是否将它放在柬币中，都引起了柬埔寨国内的纷争。
    </p>
    <p>
      这个备受争议的建筑就是独立碑，是柬埔寨王国为纪念1953年11月9日从法国殖民政府赢得民族独立而修建的。修建它本是庆祝独立，但柬埔寨人看到它，感受到的却是被殖民过的耻辱。独立碑顶端刻着七头蛇神，它是柬埔寨国家起源的神圣象征和王国兴盛的保护者。所以，无论柬埔寨人面对独立碑多么悲伤，每逢节日，他们也必来朝拜。
    </p>
    <p>
      5000柬币上的图案是一座桥，官方称它为石基桥。但民间叫它耻辱桥，因为柬埔寨的老百姓认为，这座桥从修建的原因到桥头的图案都会令他们感到耻辱和不幸。所以，关于这座桥的记载极少，唯一知道的就是它曾经是金边到吴哥窟的必经之路。但是因为它被人们厌恶，改修道路，这座桥成为了无人踏足的孤桥。
    </p>
    <img src="img/tiguan/tiguan3.jpg" alt="">

    <p>
      杜雨阳来到金边最繁华的街道，也是柬埔寨最大的中央市场。这里人流量大，有来自于柬埔寨各个省府的生意人。所以，在这里打听到石基桥的具体位置，应该不难。
    </p>
    <p>
      杜雨阳询问这里的人力车夫，这些看着破破旧旧的车，却有个冠冕堂皇的名字——国王车。它作为历史遗迹，成为金边特色的旅游项目。在十年前，国王车是柬埔寨的主要交通工具，满大街的都是蜗牛速度的国王车非常壮观。但如今，柬埔寨人讲究起了速度，这些国王车被替换成了各式的摩托。
    </p>
    <p>
      在寻找风景的途中，杜雨阳抵达一处没有名字的特色休息
    </p>
  </section>

  <div class="art-pages-num">
    <span>3/11</span>
  </div>
</article>