<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club1-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club1-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club1-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club1-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club1-5.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club1-6.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club1-7.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination3"></div>
    </div>
  </div>

  <hgroup>
    <h1>March 蔚蓝星球“世界水日”</h1>
  </hgroup>
  <section>

    <p>
      2014年的主题是：水与能源。水利部确定今年我国纪念“世界水日”和“中国水周”活动的宣传主题为“加强河湖管理，建设水生态文明”。作为最具社会责任心的合资企业，上海大众车主俱乐部与太湖局组织开展太浦河水资源保护自驾活动，让广大车主认识“东太湖—太浦河—黄浦江”沿线水源保护力度，进一步宣传水资源保护、人水和谐相处的理念，提升公众爱水护水、惜水和节水的意识，清晰了解水源质量，让我们饮水更安心。
    </p>
    <p>
      此次自驾活动非常有意义，车主们将探秘上海及周边饮用自来水取水点，现场验证水质，更有上海乒乓界名人王励勤、东方卫视创意总监骆新主持前来助阵。本次活动作为一次公益活动，吸引了各位热情的上海大众车主俱乐部会员的积极参与，在冬去春来，万物复苏的季节，车主们纷纷精神抖擞，把“关爱水资源，关爱我自己”的爱水理念传播开来。
    </p>
    <p>
      早上8点不到，就有不少车主早早地到达了活动出发现场，车主们基本都是举家出游，在明媚的阳光下，大家兴致勃勃地先“打扮”起了自己的爱车，为自己的爱车贴上“爱水、护水，节约用水，从我做起”的活动标签。
    </p>
    <p>
      在简单的活动开启仪式后，驾驶着爱车的车主们便开始这次蓝色环保之旅。整个路程沿着洪山路南北高架路（卢浦大桥）经沪青平高速，转沪渝高速公路到沪苏浙高速公路，最后从震泽/ 七都出口下高速到达目的地：吴江太浦闸 。
    </p>
    <p>
      在吴江太浦闸的活动现场，车主们在聆听完领导发表简短致辞后，在太浦河的多个河水取样点，进行现场取样，然后交由专业人士进行化验。
    </p>
    <p>
      在化验分析的间隙，车主们有幸与著名乒乓球选手王励勤一起，在保护水源倡议签名版上留下上海大众车主俱乐部“大众一家”环保的证明，并与王励勤一起种植红豆杉，涵养源头水。随着主持人宣布化验结果，上午的活动完美结束。
    </p>
    <p>
      下午的活动更是让车主们贴近自然，体验手工劳动，享受健康生活。在黄埔江的源头太湖：格林乡村公园，车主们饶有兴趣地与家人一起采集草莓，在其乐融融地欢笑声中，车主们度过了意义非凡的一天。
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/8</span>
  </div>
</article>