<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club2-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-5.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-6.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-7.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-8.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-9.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club2-10.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination4"></div>
    </div>
  </div>

  <hgroup>
    <h1>April－July 梦享电影体验之旅</h1>
  </hgroup>
  <section>

    <p>
      2014年的春天对喜爱电影的大众一家车主们而言，注定是不平凡的季节。随着微博中一条不太起眼的消息，一封来自大众一家车主俱乐部的密函：“密寒”让车主们热血沸腾。而在7月23日，韩寒的处女作电影《后会无期》上映当天，50位来自全国各地的《大众一家》俱乐部会员们再次投入我们《梦享电影体验之旅》后续活动：《后会无期》上海首映礼，让三伏天酷暑的天气更显火热！
    </p>
    <h4 class="h-color-black">密寒来袭</h4>
    <p>
      “密寒”顾名思义隐喻本密函由大众333车队的车手韩寒发出，虽然第一封密函没有过多的描述，却让车主们内心的梦想瞬间爆发。之后，感兴趣的车主们陆续收到了后续密函：“参与方法：用手机下载“秒拍”客户端，上传车主的优秀视频，便能得到探班剧组的机会。”
    </p>
    <p>
      经过几轮的视频评选，最后，来自山东、河南和江苏等各地20余位大众一家俱乐部的车主脱颖而出，手持“密寒”来到这场影视盛宴的汇聚地——上海。只是视频评选并不是走进拍摄现场的最终入场券，还需要通过最终的审核考试。
    </p>
    <p>
      上海大众汽车大众品牌关系营销高级经理马俊杰先生，为“大众一家梦享电影体验行”活动致辞：大众一家梦享电影体验行”活动是继2013年”梦享赛车手“活动后，又一次为车主圆梦的高品质活动，并恭喜通过审核的车主。
    </p>
    <p>
      4月12日，上海朱行镇市中路市西街路口，车主们早早地来到拍摄现场，进行现场的预演走场。中午车主们”品尝“到了剧组的简餐，大家都卯足了劲，等待着一个让他们充满期待的时刻。下午13点40分左右，在工作人员的陪同下，著名作家、大众333车队主力车手、《后会无期》导演韩寒出现在“大众一家梦享电影体验行”活动现场，气氛一下沸腾起来。
    </p>
    <p>
      韩寒面对如此多热情的大众车主略显腼腆，不过很快便与车主们愉快地畅谈起来。在简单地见面问候后，韩寒大方地回答了车主们各种有意思的问题。车主们的问题基本直指要害，韩寒当然也是早有准备，用风趣的”韩寒式“幽默完美化解，问答过程笑点不断。
    </p>

    <h4 class="h-color-black">韩寒采访：</h4>
    <p class="p-dialog">
      <span>大众一家俱乐部车主：</span>请问韩导，既然《后会无期》已经是你自编自导了，有没有想过自己演呢？
    </p>
    <p class="p-dialog">
      <span>寒：</span>
      老实说……没想过。我对自己的表演水准很有自知之明，可能还是各位车主比我更有演技呢。
    </p>
    
    <p class="p-dialog">
      <span>大众一家俱乐部车主：</span>
      请问在拍摄电影《后会无期》时，你是冲着票房去的，还是拿奖？
    </p>
    <p class="p-dialog">
      <span>寒：</span>
      这个问题在决定拍摄电影前就很明确了。如果冲着票房去，抑或冲着拿奖去。那么，多数情况下都是竹篮打水一场空。我想，我就是冲着电影去的。
    </p>

    <p class="p-dialog">
      <span>大众一家俱乐部车主：</span>
      听说最近你很担心自己女儿会有男朋友，不知道你真实的想法是什么？
    </p>
    <p class="p-dialog">
      <span>寒：</span>
      （腼腆低头微笑）这样说吧，以前我自己还在恋爱的时候，总是觉得女朋友的妈妈很好相处，可是每次见到她爸爸就会有些担心，因为女朋友的爸爸一般都是一副很高高在上的姿态。当时我想，何必要这样看我呢。现在我有了女儿……一下就明白了我妻子父亲的想法了。
    </p>
    
    <h4 class="h-color-black">车主感言：</h4>
    <p>
      “没想到真正的拍摄那么累，我的任务是从场景的一头骑车到远处，20多个来回，现在脚都麻了。不过，还是挺有意思的，刚刚从主角旁边骑过的时候，一直想多看两眼，可提醒自己：我们在拍戏，我们在拍戏。哈哈，想必以后回想起来都会笑。”
    </p>
    <p>
      “真的有点累，我一共进了3个镜头，来回走场50多次。拍戏不容易啊，特别是录音师、摄像师和厂工，他们不但要跑前跑后拍摄，还要扛着很重的设备，换我上的话，估计不到1个小时就趴下了。以后看电影的时候，便会想到电影工作人员的辛苦。”
    </p>
    <h4 class="h-color-black">梦想零距离</h4>
    <p>
      首映式现场，红地毯等待的不只是《后会无期》剧组的大牌明星，因为在红毯的显要位置停着一辆上海大众的新款白色Cross Polo，它吸引了所有来到现场的大众一家会员和其他观众的目光，大家纷纷合影留念。果然，车主们在观摩影片中发现，Polo的“戏份”着实不少，镜头时而从高空俯拍，它正以极其舒适的曲线蜿蜒在祖国的大好山河，偶尔近景定焦，停在路中央，阳光照射下的它尤为帅气。
    </p>
    <p>
      晚上7点35分《后悔无期》剧组成员陆续来到首映式现场，现场气氛再次达到高潮。
    </p>

    <p>
      《后会无期》的口碑有诸多争议，有观众认为韩寒“很有思想深度”，但也有人觉得“不知想表达什么”。但如果试图向导演韩寒讨要这个答案，你一定会失望。韩寒身上有很多标签, 但他一直拒绝被定义。“问意义，就像是回到了高中语文课，常常要总结中心思想之类。我不喜欢谈意义，因为觉得那样会限死了观众的想像。如果我在这里说影片这个部分、那个片段表达了什么，会觉得那样很扫兴。”他笑称有网友的解读很神:“有一种解读说是冯绍峰、钟汉良其实都不存在，都是陈柏霖想像出来的。也有一说是这三个人其实是一个人，就是我，韩寒！”韩寒说，拍《后会无期》这部电影，不论是对自己还是对冯绍峰，都是一种转型。如果有好的题材，好的灵感，还会继续拍电影。
    </p>
    
    <h4 class="h-color-black">车主感言：</h4>
    <p>
      “观看前我也看了预告片和网友的吐槽。有人说这是一部文艺电影，有人说这是一部喜剧，也有人说它是一部悲剧。然则，我觉得每个人都有每个人的一种感受，而我的感受就是：电影非常符合韩寒这种经历过赛车的车手，经历过这样的一种艰程的人方能写出如此深刻的剧本。”
    </p>
    <p>
      “它有中心思想，却很难用一句话去总结。因为人不能用一种观点去定义所有的生活，就如韩寒在电影里表现了很多。其中不乏，一个人孤单的走在沙漠中所表现出的勇气；在面对挫折时所给予自己的激励等。其次，让我印象特别深刻的是电影开头，当他们三个人决定一起走过这段旅程的时候，其实他们以已经翻开了一本书，之后展开的故事都是在书写青春最华丽的篇章。”
    </p>
    <p>
      “可能我还比较年轻，不能体会《后会无期》中有很多电影情节和台词的深意，到底韩寒是一位80后的著名作家，而我是一个90后。平时，我更关注他在333车队中的表现。但是，我觉得他要向我们表达一种生活的态度：塞翁失马，焉知非福。”
    </p>
  </section>

  <div class="art-pages-num">
    <span>3/8</span>
  </div>
</article>