<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper8">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club6-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club6-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club6-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club6-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club6-5.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination8"></div>
    </div>
  </div>

  <hgroup>
    <h1>November 梦享酷驾行</h1>
  </hgroup>
  <section>
    <p>
      “Think Blue · Cool Driving梦享酷驾行”全国总决赛现场，省油大咖们“遭遇”了超华丽的惊喜：“瑜伽第一美女”母其弥雅，女神惊艳现身，面对面手把手，一招一式教大家练起了“驾驶轻瑜伽”，跟随我们一起动起来吧！
    </p>
     <p>
      “梦享酷驾行”是根据上海大众“Think Blue蓝思·共享”的环保理念所组织的健康驾车活动。志在创造更高能效、更低能耗、对环境更少影响的汽车，鼓励大众用低碳环保的生活方式，创造美好的蓝色未来。
    </p>
    <p>
      11月14-15日他们接受“大咖挑战赛”，摆在他们面前的是一条弯曲而颠簸的公路，秀出自己环保驾驶大招的时刻终于来临。经过一场“斗智斗勇”的比拼，来自淮南的选手刘 拔得头筹，抱走“2015德国环保游”终极大奖。
    </p>

    <h4 class="h-color-black">酷驾大咖支招：搞定弯道与颠簸路段</h4>
    <p>
      1. 慢进快出
    </p>
    <p>
      进入弯道前，踩刹车减速，若是急转弯，还需先降一档；入弯后，马上微踩油门转弯；看到弯道终点时，回正方向盘，加油门快出。
    </p>
    <p>
      2. 外—内—外
    </p>
    <p>
      “外—内—外”是安全又省事的转弯路线。就是说，转弯前先靠外线行车。中间时靠内行车。最后切回外线。
    </p>
    <p>
      3. 避免急刹
    </p>
    <p>
      转弯时尽量避免急刹。因为这时急刹会引起滑胎，令车子失控。
    </p>
    <p>
      4. 减速缓行
    </p>
    <p>
      进入颠簸前，就减速挂低档，然后靠车子的惯性慢慢通过。
    </p>
    <p>
      5. 用对离合器
    </p>
    <p>
      自动挡过颠簸路段，要用对离合器。车头上扬时，松一点，车头往下时，再踩一下（离合器）。一松一踩，动作要很小。
    </p>
    <p>
      别看大咖们都是省油高手，但在缓解驾驶疲劳这个问题
上， 还得请“瑜伽女神”母其弥雅支招。两个小时下来，众人
大呼涨知识！在等红绿灯或堵车的间隙，来几下车内瑜伽，舒
展舒展身体，于是，肩膀不酸了、手臂不累了、腰又挺了、精
气神又回来了。好东西要分享。没能亲临现场的各位亲，我们
贴心为大家备了一看了便会的瑜伽操，有请弥雅女神再次上场
    </p>

    <h4 class="h-color-black">瑜伽女神：一招简单易学的车内瑜伽</h4>
    <p>   
      1. 坐在座位前半部分，双脚平放在底板上。
    </p>
    <p>
      2. 手臂后展，手掌向下贴着椅面。
    </p>
    <p>
      3. 手指向前触及臀部，同时抬起下巴，伸长颈部，眼睛朝车顶看。
    </p>
    <p>
      4. 上下前后转动肩部。
    </p>
    <p>
      5. 活动完成后，保持此姿势做2-3次深呼吸。
    </p>
  </section>

  <div class="art-pages-num">
    <span>7/8</span>
  </div>
</article>