<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper7">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club5-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club5-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club5-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club5-4.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination7"></div>
    </div>
  </div>

  <hgroup>
    <h1>November 大众汽车品牌之夜<span>暨中国好声音梦响盛典</span></h1>
  </hgroup>
  <section>
    <p>
      2014年11月19日晚19:30，由中国好声音冠军导师那英、冠军学员张碧晨、人气学员余枫及多位明星学员倾力加盟，大众集团最高规格的“2014大众汽车品牌之夜暨中国好声音梦响盛典·广州” （后简称：大众之夜）在广州体育馆1号馆中荣耀揭幕。明星献唱，更有给力的新车，跟随我们一起走进这场盛典。
    </p>
    <p>
      与以往大众活动相比，本次大众之夜活动邀请了更多车主和经销商伙伴参与。当我走进会场的一瞬间，被眼前一片蓝白色的海洋所震惊，有一半参加活动的成员穿着大众一家俱乐部的服装。我们在人海中找到几位眼熟的车主：梦享赛车手的第一季和第二季冠军——彭胜和宋博。
    </p>
    <p>
      整个大众之夜在IMAX视觉震撼和动感车辆表演的配合下华丽上演，大众集团各级领导纷纷登台演讲，可见品牌之夜的重磅分量。中国好声音第三季冠军张碧晨、人气学员余枫、梁栋江及多位明星学员尽数登场，他们带来《Back at one》、《飞
    </p>
    <p>
      得更高》、《Always Friends》等一曲曲脍炙人口的歌曲，把全场气氛推向高潮。冠军导师那英一曲《爱要有你才完美的》压轴，充满人文关怀，温馨至极。
    </p>
    <p>
      当我们还陶醉在美妙的歌声中，来自全国各地的车主在闪光灯下隆重亮相，与台下现场观众互动，掀起了全场高潮。定睛一看，我们的冠军车手宋博正抱着可爱的儿子向我们挥手，身边他的妻子也在此刻显得更加美丽动人。果然是不小的惊喜！
    </p>

    <h4 class="h-color-black">车主感言：</h4>
    <p>
      “这次受邀，跟太太和儿子一起来参加大众之夜的活动感到非常荣幸，上海大众俱乐部给到我们的服务一直是持续性的，不像我听说的一些其他俱乐部，一次活动后就没有后续了。”
    </p>
    <p>
      “平时只要有时间，我就会开着途观，带着太太和儿子到处去旅游，用镜头记录下沿途的风景和幸福的瞬间。今天把它们带来，也是要记录下今天晚上的美好瞬间和新款靓车的身影。”
    </p>
  </section>

  <div class="art-pages-num">
    <span>6/8</span>
  </div>
</article>