<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper6">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club4-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club4-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club4-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club4-4.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination6"></div>
    </div>
  </div>

  <hgroup>
    <h1>September 梦享安驾营</h1>
  </hgroup>
  <section>
    <p>
      用衣服包一下手就能一锤破窗逃生，180°翻车脱险后爬出车窗继续和匪徒枪战，汽车潇洒地冲入水坑涉水行车惊起一滩鸥鹭，这些在好莱坞动作大片中出现的经典镜头，你是否也想体验一下呢？现已真实上演！2014年9月25日，“梦享安驾营”在北京拉开序幕。
    </p>
    <p>
      活动覆盖了全国多个城市，其中包括首都北京、合肥等地，11月8日在南京的收官之战更是高潮迭起。虽然南京（溧水）天公不作美，10摄氏度的降温，持续不断的小雨，但这些都阻挡不了前来参加“梦享安驾营”的俱乐部车主的热情。
    </p>
    <p>
      随着第一批60位车主陆续入场，活动在风雨交织中准时开始。上海大众品牌营销事业部经理许俊偈先生首先出场致辞：“通过这次培训，提升会员及客户的安全驾驶素养，保持良好的驾驶习惯。能对突发事件及恶劣天气进行快速正确地处理。体现大众对客户驾驶安全的关爱。”同时，他还表示，“梦享安驾营”是整个俱乐部活动中的一部分，也是整个俱乐部会员权益的分支，上海大众一直秉承“彼此关爱，大众一家”的理念，为车主提供全方位的服务。
    </p>
    <p>
      经过一天的安全驾驶培训，车主们纷纷表示，不但对一般的汽车安全有了切身的体验，更重要的是对自己的爱车有了新的认识。不少人表示：原来我的爱车还有这么神奇的功能啊，赶快回去试一试。“梦享安驾营”的意义是在让俱乐部车主了解安全知识的同时，更好地去了解自己的上海大众汽车，寻找人与车的和谐，让我们的出行更安全、更绿色、更环保。
    </p>

    <h4 class="h-color-black">翻转逃生</h4>
    <p class="p-dialog">
      <span>刘教练：</span>
      首先，上车后千万要系好安全带。在体验的过程中我们看到，当车辆翻转小于90 度时，预警式的安全带紧紧地把车主锁定在座椅上，即使翻转到了180 度时，车主是被倒挂在座椅上的，完全没有出现任何脱落的现象。如果没有系安全带，在车辆发生翻转时人就会车内翻滚了。其次，要将手放到头顶，首先把头部与车顶的距离顶死，然后用四肢顶住方向盘，让整个人有一个支撑力，这时再解开安全带、翻身、打开车门，从里面安全地出来。
    </p>
    <p class="p-dialog">
      <span>车主周女士：</span>
      通过今天的体验和学习，我觉得作用还是蛮大的。知道了第一步，扶头；第二步，用腿顶住方向盘；第三步，慢慢地、以最安全的方式把自己移出车子。我认为，今后应该多带我们车主去参与一些这样好的学习活动，对我们有很大的帮助。所以，我们也是特地从江苏徐州赶过来参加这个活动，非常感谢大众一家。
    </p>

    <h4 class="h-color-black">模拟侧滑车</h4>
    <p class="p-dialog">
      <span>刘教练：</span>
      电影中一些夸张的手法会对车主造成一种误导，比如现场就有车主说要反打方向、踩刹车这样的操作，其实这些都是错误的。经历了今天的亲身体验，大家了解到了这个错误的操作会使车辆失控的情况更加严重。遇到这种情况时，正确的方法是：及时调整方向（即反打方向），适当的给一些油，而不是踩刹车，通过牵引力把失控的车身拉回来，待车辆回复到车主可控范围内时，再采取制动将车速降下来。
    </p>
    <p class="p-dialog">
      <span>车主谢先生：</span>
      今天的活动让我们知道了，在驾车过程中遇到紧急、特殊情况时该如何处置。特别是漂移，教练教给我们在那个点及时的调整方向、加油门，如果按照我们自己的习惯，遇到这种情况就会踩刹车，但那样是不对，而且非常危险，教练还是非常专业的。
    </p>
    
    <h4 class="h-color-black">辅助高科技</h4>
    <p class="p-dialog">
      <span>刘教练：</span>
      泊车辅助系统对新手来说绝对是一个实用的功能。相对于只支持侧方停车功能的第一代系统，最新的泊车辅助系统2.0版本，还提供垂直停车支持功能，例如与行车道成直角的情况下泊车。当车速在40公里/小时以下时，只要按下中控台上的按钮就能激活该系统。
    </p>    
    <p class="p-dialog">
      <span>车主周女士：</span>
      之前我们的车子是一款日本的车子，后来有了宝宝，我们想在安全的前提下带着宝宝去自驾游，既要安全性强，又要考虑到旅行性，所以我们选择了大众途安。给我最强烈的感觉就是空间大、安全、省油，就是所有我想要的它都有，而且达到了我的要求，很满足！此外，途安的自动泊车系统，让我这个驾驶技术并不高的女性也能安全泊车。
    </p>
  </section>

  <div class="art-pages-num">
    <span>5/8</span>
  </div>
</article>