<article class="art-content img-all">
  <div class="label-float">俱乐部</div>
  <img src="img/club/club.jpg">

  <img class="img-btn" src="img/img-btn.png"><div class="title-msg">
    <hgroup>
      <h1>让“大众一家”带你去圆梦<span>2014年“梦享”活动系列大合集</span></h1>
    </hgroup>
    <p class="p-width">
      2013年3月9日是大众一家·上海大众汽车俱乐部重装上阵的伊始，而2014年对上海大众汽车而言是不平凡的一年，随着30周年庆典华丽登场，俱乐部全面升级为“聚乐部”，向车主提供积分回馈、专属活动、商户权益和尊享服务四大专属权益服务，为广大的上海大众车主打造了一个服务全面、温馨的“梦享”平台。两年来，我们跟随大众一家，见证了俱乐部的完善和成长，回顾2014年的活动，无论是车主的电影梦，车手梦，还是环保梦，“大众一家”带你去圆梦。
    </p>
  </div>

  <div class="art-pages-num">
    <span>1/8</span>
  </div>
</article>