<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper5">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club3-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club3-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club3-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club3-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club3-5.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club3-6.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club3-7.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination5"></div>
    </div>
  </div>

  <hgroup>
    <h1>July－October 梦享赛车手第二季</h1>
  </hgroup>
  <section>

    <p>
      黄金周的尾声，2014年“梦享赛车手”第二季，难掩如火激情在上海国际赛车场迎来了总决赛。10位来自祖国各地的大众一家·上海大众汽车俱乐部会员经过2个多月的艰苦培训以及分站预选赛、分站决赛，半决赛和排位赛多轮选拔后，最终在上赛场观众的助威声中极速驰骋，上演巅峰对决，最终角逐出冠亚季军。至此，上海大众汽车俱乐部“梦享赛车手”第二季总决赛完美谢幕，上海大众车主通过俱乐部搭建的圆梦平台，切身体会了专业赛车运动带来的速度与激情，实现了成为一名专业赛车手的梦想。
    </p>
    
    <h4 class="h-color-black">精彩有你 济南分站赛</h4>
    <p>
      延续了2013年的赛车精彩，本次活动在全国各地招募新一批怀揣赛车梦想的新青年，先后在西安、济南、武汉、石家庄和沈阳5个赛区举行选拔赛，每个赛区前10名的选手于金秋10月奔赴上海，在天马山赛车场进行“终极培训”，最后的在上海国际赛车场巅峰对决。
    </p>
    <p>
      济南站的活动开始于上午9点左右，58位学员们陆续到达了活动培训中心，面对陌生的训练环境和伙伴，大家充满着好奇，甚至有些车主还有点害羞认生，但是当大家换上印有“大众一家”字样的T 恤后，气氛一下就融洽了许多，因为大家都是为了同一个梦想来到济南北郊的济阳县，那就是：享受New Polo赛车的急速感觉，一圆赛车手的梦想。最终的角逐异常激烈，各位学员的成绩咬得非常紧，前一名和后一名的差距都在0.3秒之内。而我们本次活动的幸运儿李惠玮先生，则以51秒93的成绩拔得头筹。
    </p>

    <h4>分站冠亚季军感言：</h4>
    <p>
      “我是去年通过一个偶然的机会才开始接触赛车，朋友带着一起玩，到现在也就一年的时间。期间也参加过别的汽车品牌举办的赛车活动。这次，我特意坐飞机赶来参加梦享赛车活动。在我眼中，赛车更多的是一种娱乐和放松的运动，我非常喜欢。”
    </p>
    <p>
      “今天比赛屈居亚军心里多少有点不服气，有点玩失误了，冲出去了，到了上海我一定会更加注意。当然，决赛有来自全国的50位高手，能不能赢并不重要，关键是大众今天的活动把大家伙聚到一起，像兄弟一样。我很喜欢这样的活动，每次都能认识很多民间赛车爱好者和达人。”
    </p>
    <p>
      “我很喜欢这个汽车运动，但是一直没有机会去参加这种专业的赛车活动。所以，非常感谢大众一家车主俱乐部组织了这样一场活动，让我有机会能上赛车爽一把。而且相比其他厂商举办的试驾活动，梦享赛车手活动非常的专业，看看我今天穿的行头就知道了。”
    </p>
    <h4 class="h-color-black">梦享72 小时 决战上海</h4>
    <p>
      10月10日，硝烟初起。全国五大赛区层层选拔的50位选手齐聚上海天马赛车场，为了上赛场的终极对决再度狂飙。第一天的主要内容是专业赛车知识培训和熟悉赛道，下午2点经过一场简短而隆重的开营仪式后，50位选手正式开始了决战上赛之巅的冲刺——中汽联赛车E照培训。
    </p>
    <p>
      不少选手显然不是赛车项目的菜鸟，而系统的理论培训更将赛车运动的专业性和科学性淋漓尽致地展现。通过培训和考核，选手们如愿获得了梦寐以求的E级赛车驾照。在熟悉比赛用车和熟悉赛道的过程中，许多选手向本次活动的总教练取起经来。
    </p>
    <p>
      11日的选拔计时赛过程可谓是高潮迭起，与第一季选手由于入弯车速过快冲出赛道相比，第二季的活动更加精彩。前5位选手跑法都非常激情，其中一位来自B组的车手在到达终点时发生了爆胎，此外，由于汽车换挡问题，D组也有选手险些冲出赛道。不过，好在之前选手们接受了良好的理论和实践培训，来自C组的一位选手告诉我们：这才是赛车的魅力，就是让人肾上腺激素上升，去面对意想不到的事情。
    </p>
    <p>
      10月12日7点35分，晨光射入上海国际赛车场，随着赛道上5组红灯全部熄灭，“梦享赛车手”总决赛大幕拉开，轰鸣声中，10位晋级选手驾驶着由POLO GTI改装而成的专业赛车在赛道上风驰电掣。
    </p>    
    <p>
      整个比赛过程异常胶着，前两圈一路领跑的是排位赛冠军孙安宁，他以单圈2：36.701成绩力压第二名近2秒，然而转折出现在第三圈，排位赛第五名的宋博后来居上，而孙安宁却因为机械故障，落到第二。最后，来自沈阳赛区的宋博一骑绝尘，凭借优异的驾驶技术、稳定的比赛心态和上赛道的幸运，赢得了“梦享赛车手”第二季的总冠军。
    </p>
    <p>
      最终的年度冠军宋博将接受进一步深造，并参加于明年举行的职业赛车比赛，暨2015年Polo杯上半赛季的五场分站比赛，如成绩优异将与上海大众333车队二队“星之路”车队签约，成为一名职业赛车手，完成从民间赛车爱好者到专业赛车手的华丽蜕变！
    </p>
    <h4>新闻发布会</h4>
    <p>
      激战过后，大众一家·上海大众汽车俱乐部会召开了新闻发布会，来自上海大众汽车品牌关系营销高级总监Joerg Hitpass先生、高级经理马俊杰先生、高级经理Oliver Scheen先生等重要领导，以及333车队老将王睿和活动协办方力盛赛车学校总监王笑出席现场，接受各家媒体的提问。
    </p>
    <p>
      除了为获胜选手颁发奖杯、奖状和荣誉证书外，马俊杰先生详细地向媒体朋友们介绍了全新升级的大众一家·上海大众汽车俱乐部。积分回馈、商户权益、尊享服务、专属权益组成的俱乐部四大权益体系，已隆重登场。大众一家俱乐部以感恩之心，赤诚之意，回馈车主的信赖和热爱。
    </p>

    <h4>决赛冠亚季军感言：</h4>
    <p>
      “赛车手这个梦想大概是在20岁的时候开始的，因为当时已经考取了驾照，通过一些杂志和视频对赛车有了了解。当时的感觉就是，原来车可以这么开的！虽然已不是儿时，但追求梦想的心还在，成为大众一家的一员后，反而会更坚定地想要把这个梦想坚持下去，恰好有这样一个活动就来参加了。而且，这个活动让我体验到了什么是赛车，倍儿爽！”
    </p>
    <p>
      “这个活动真的搞得很专业，虽然其他一些品牌甚至会组织到国外的专业赛道上去体验，但仍处于民用层面上，而大众的“梦享赛车手”真的是唯一一个能够跟赛车直接挂钩的活动。而且我们都考取了赛照，并到一流的赛道来比赛，这是我之前没有听说过的。”
    </p>
    <p>
      “以前我比喻自己血管里流得是汽油，就是喜欢车、喜欢开车，对赛车又是特别特别的喜欢。平时也经常在电脑上玩赛车模拟器，在线上参加赛车比赛，所以对比赛的套路还是很熟悉的，只不过网上的赛车不会像现实赛车中车子会有这么大的损坏，说没动力就没动力了。”
    </p>
  </section>

  <div class="art-pages-num">
    <span>4/8</span>
  </div>
</article>