<article class="art-content layout3">
  <div class="label-float">俱乐部</div>
  <div class="kv carousel">
    <div class="swiper-container qir" id="artSwiper9">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/club/club7-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club7-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club7-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club7-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/club/club7-5.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination" id="swiper-pagination9"></div>
    </div>
  </div>

  <hgroup>
    <h1>December 梦想新乐章</h1>
  </hgroup>
  <section>
    <p>
      在西方，圣诞节就如同代表着辞旧迎新的中国春节一般，在新年伊始之时，“大众一家•上海大众汽车俱乐部”邀请车友在欢声笑语中、在约翰•勃拉姆斯经典曲目的优美旋律中，以至诚之心、至真之意，一同回顾过往、展望新年。
    </p>
    <p>
      为丰富广大会员的娱乐生活，“大众一家• 上海大众汽车俱乐部”在2014年相继开展了韩寒《后会无期》首映礼、汪峰演唱会、陈绮贞演唱会、话剧《恋爱的犀牛》全国搞笑巡演、2014大众汽车品牌之夜暨中国好声音梦想盛典等多场娱乐活动，均深受广大会员喜爱。在2014年12月22日，圣诞节来临之前，辞旧迎新之际，大众一家让会员们在家门口享用了一顿国际音乐大餐——德国哥廷根交响音乐会。
    </p>
    <p>
      为了不断改进、完善会员权益与会员服务，音乐会前，大众一家俱乐部还举行了一个小型的茶话会，旨在通过与BBS和QQ群车主的沟通，及时了解会员需求，精进俱乐部活动与会员服务。
    </p>
    
    <h4 class="h-color-black">前奏——走进车主</h4>
    <p>
      下午3点，在位于上海东方艺术中心旁，东怡大酒店一楼的翠玲珑咖啡厅内，20几名活跃于BBS和QQ群的车主（其中有桑塔纳车主、Polo车主、朗逸车主、新途观车主、帕萨特车主），莅临现场参与讨论。
    </p>
    <p>
      茶话会由大众一家BBS负责人陈伟先生主持，上海大众品牌营销事业部经理许俊偈先生开场、并发起畅谈。大家一起回顾了注册的时间、发第一个帖子的时间、第一次车友活动的情景，分享了过往难忘的点点滴滴，以及自己参与过的、印象最深刻的俱乐部活动，畅谈对未来线上、线下活动的期许与建议，场面轻松而愉悦。
    </p>
    <p>
      车主发言，首先由昵称“开心”的大众一家车友群群主张先生，发表了“官方”的发言：“自从加入大众一家、加入论坛，不知不觉已经过了好多年。从一名新手一路走到今天，大众论坛给予了我们许许多多的欢乐，在社区论坛认识很多志同道合的车友，也参加了很多大众一家举办的各类活动，大战狼堡足球赛、新桑塔纳北京上市会、韩寒《后会无期》首映式等等，还有很多车友自发组织的自驾游活动。感谢大众一家为我们提供了这样一个丰富多彩的活动平台，感谢诸位车友多年来的支持与相伴，也要感谢论坛的维护与管理者对车友的关爱与支持！”
    </p>

    <h4 class="h-color-black">主旋律——车主心声</h4>
    <p>
      谈及自己印象最深刻的俱乐部活动，以及对今后线上线下活动内容的改进建议，大家纷纷畅所欲言。听完了“阳光”的“官方”发言，也让我们听听“大众”的心声。
    </p>
    <p>
      在“大黑狼”邓先生记忆中，2014年3月“世界水日”的太浦河水资源保护自驾活动，给他留下了最为深刻的印象。这次活动改变了邓先生的用水习惯：“以前我洗手的时候会一直开着水龙头，参加活动回来后，我会在洗手的过程中把水关掉，这个活动让我对保护水资源有个更深的理解，并开始从生活的一点一滴做起。“
    </p>
    <p>
      而大众一家丰富的俱乐部活动，在带动会员绿色生活的同时，也改变着他们的生活方式，对此邓先生坦言：“除了对生活习惯的影响，更重要的是通过俱乐部的活动，让我结识了很多志同道合的朋友，让身为IT 宅的我，平时的业余生活更加丰富多彩了起来，这是俱乐部活动给予我最大的收获。”
    </p>
    <p>
      如果说“大黑狼”是车友群的新晋成员，那么，2010年便加入车友群的“skymr2000”张先生，则可谓是群中的元老了。对参加过新桑塔纳上市会、Polo Day、CTCC、《后会无期》首映式等诸多活动的张先生而言，每一次大众一家俱乐部组织的活动，都是一次开心的家人聚会：“通过这些活动，让我们车友之间可以非常紧密地凝聚在一起，每次见面都会很亲切，也让我们充分感受到大众一家这个‘家’的温暖。“
    </p>

    <p>
     说起2014年给他留下深刻印象的俱乐部活动，张先生认为，非韩寒《后会无期》电影首映式莫属。“这个活动让我更深刻地感受到了大众一家对车主的关爱。而且，当时有好多人在现场，却因为买不到票进不去，但我们大众车主却可以直接进场，让我深深地体会到，身为大众车主是一件多么自豪的事情！”
    </p>
    <p>
      为了能让“大众一家”越办越好，说完了好的、满意的，车主们献计献策，提出了宝贵的意见和建议。“skymr”2000对BBS登陆问题提出了意见，希望后台服务能够做的更好；“wfish”建议，希望BBS中能够多一些关于驾驶技巧与汽车保养的内容；“Y 小姐”则希望俱乐部以后可以多组织一些如演唱会、话剧类的娱乐活动；以“大黑狼“为代表的年轻车主，则希望今后可以多一些有关技术和车辆改装的话题或活动......
    </p>
    <p>
      面对大家的真诚，上海大众品牌营销事业部经理许俊偈先生很感动，并表示一定会将大家的意见和建议传达给上级，努力做到更好！
    </p>

    <h4 class="h-color-black">尾声——车友聚餐</h4>
    <p>
      茶话会后，大众一家还未车主们准备了一场丰盛的晚宴。晚宴上，大家的说笑、调侃，笑声阵阵、和乐气氛，工作人员还为大家准备了贴心的礼物袋和奖品神秘的抽奖活动，大家举杯，共同祝愿大众一家这个“家”在新的一年里能够红红火火、越办越好！
    </p>
    <p>
      看着车主们簇拥着共赴音乐会的身影，听着他们阵阵愉快的笑声，再享受一餐听觉的盛宴，我真的醉了。看着车主们满脸陶醉、享受的神情，我知道，他们也是醉了......
    </p>
  </section>

  <div class="art-pages-num">
    <span>8/8</span>
  </div>
</article>