<article class="art-content">
  <div class="label-static">娱乐</div>

  <section>
    <img src="img/recreational/recreational11.jpg" alt="">

    <p class="p-first">
      读懂这幅字画中的含义，大师们很乐意把他们创作的字画与你分享，这也就是他为什么在起初的几年中，只是收藏而不卖字画的原因。
    </p>
    <p>
      “我也说过，这些都是我的爱好，初衷都是因为喜欢。开店卖字画古玩并不是我的目的。那个时候又有很多人说我傻，不理解。我就是想告诉他们，为什么不可以！”
    </p>
    <p>
      然而，在4 年前的一件事情，使得董先生产生了改变，也就是“艺堂”诞生的起因。那时他遇到几位商业伙伴，都是对古玩字画颇有兴趣的玩家，大家茶余饭后都聊得很投机，大家就劝他可以开个店，不一定要专门从事艺术品的买卖，而只是为了展示大师们的作品，若是有缘人看见了，大家就进来看看聊聊。
    </p>
    <p>
      “那时候有一个朋友的一个提议让我恍然大悟，那个人说：‘你可以义卖啊，得到的收入可以返还给寺里。’我当时好像被雷劈了一样，一激灵。对啊，怎么就没有想到这点呢。于是我就开了这个店。”
    </p>
    <p>
      之后的时间，又有不少人来到店中和董先生聊起字画古玩，我在一边默默地听着，仿佛这些本来不能说话的历史古玩，渐渐地鲜活了起来，与我一起讲述一段段缘分，讲述董先生这份倔强背后的辛酸苦辣。
    </p>
    <p>
      夜色渐黑，董先生店中再次安静了下来，他有些抱歉地告诉我，采访就只能到这里，因为他晚上要离开上海，参加一个义卖会。当我问他：“能告诉我，你对自己这一路的评价吗？”董先生哈哈大笑着说道。
    </p>
    <p>
      “大家对我的评价倒是不少，总结起来就是‘吃力不讨好’，而我却乐在其中。我觉得也许就是一份倔强，对缘分和兴趣的执著。或许说就是想让大家看看‘玩物得志’是怎么发生的！”
    </p>
  </section>

  <div class="art-pages-num">
    <span>7/7</span>
  </div>
</article>

