<article class="art-content">
  <div class="label-static">娱乐</div>
  <section>

    <p class="p-first">
      他眯着眼睛，仿佛已经看透了这幅作品的一切细节和沉淀。寻思许久后，他默默地收起了作品，我们也终于开始了采访。
    </p>
    <p>
      “字画古玩这一行目前鱼龙混杂，门槛也越来越高，许多名家的作品，最低几万，最高就没有上限了。我在其中摸爬滚打很多年，现在也只敢说自己是一个玩家，不是专家。”
    </p>
    <p>
      董先生沏上了一壶黑茶，双手抱在怀中微笑地向我讲述那些年和古玩结缘的故事。在他还年轻的时候，原本是一个普通的国企员工，挨上了许多那个时代发生的大事件，所以文化程度并不高，然而却有着中国几千年来文人墨客们的优雅爱好，那就是字画古玩。
    </p>
    <p>
      “那个时候在纺织行业做，工资也不是很高，但是每个月我都会到古玩市场去‘定期消费’，开始的时候并不懂，只是挑自己喜欢的买，价格便宜就可以。就是单纯的喜欢而已。但在那个年代，玩古玩有时会被认为是一种玩物丧志的表现。而我觉得，喜欢就是喜欢，爱好就是爱好。”
    </p>
    <p>
      董先生起身又为我展示许多他收藏的字画，可惜，我完完整整是一个门外汉，董先生略显失望，但有一个问题一直压在我心底。
    </p>
    <p>
      “董先生，请问您是如何从一个普通的古玩玩家，成为一个字画古玩的卖家的？”
    </p>
    <p>
      董先生闻听此话，停下继续寻找，把字画仔细而快速地收
    </p>

    <img src="img/recreational/recreational7.jpg" alt="">
    
    <p class="p-first">
      了起来，为我斟一杯黑茶，当我双手接过这杯茶时，感觉略显沉重。
    </p>
    <p>
      “其实，这店能开起来和一辆车密切相关。”
    </p>
    <p>
      一句话，把我所有的注意力和好奇心全都吊了起来。董先生缓缓坐下，继续把手抱在怀中。
    </p>
    <p>
      “用现在的话说，我是一个不按照常理出牌的人。那时候企业里缺司机，我毅然报名参加。拿到驾照后，我除了本职工作，有时候会被调去为领导开车。后来，公司的车要升级，我就莫名其妙地把那辆车和车牌都给买下了，我应该也算是第一
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>4/7</span>
  </div>
</article>