<article class="art-content">
  <div class="label-static">娱乐</div>

  <section>
    <img src="img/recreational/recreational8.jpg" alt="">
    
    <p class="p-first">
      批拥有私家车的老车主了。可是至今我都无法想起当时买车的理由。“
    </p>
    <p>
      董先生看到我兴趣高涨，略带一丝坏笑先说了一段并不精彩的铺垫，看到我端杯喝茶有些分神，他话锋一转说道。
    </p>
    <p>
      ”也就是在那个时候，我在古玩市场见到了一位年迈和尚，他在那里设摊写字，第一次走过的时候也没在意。逛了一圈回到这个摊头时，天色渐黑，还飘着小雨，大家都在收摊，这位和尚师傅也在收摊，但年纪大了，手脚有点不利索，不小心滑倒在地，我见到了就上前把他扶起来，帮他收拾摊位，并问那个师傅要回哪里，我开车送他。你猜和尚师傅说什么？玉佛寺！”
    </p>
    <p>
      我被董先生的故事所震惊，果然不虚此行。董先生点了点头，他告诉我，那位大师是来古玩街化缘，他把大师送回到玉佛寺，大师送给他一幅文字，这幅字现在的价格已经超过10万。也是因为这一送，让他走进禅学的大门，也是在古玩这条道上的重要转折点。
    </p>
    <p>
      “那辆车就是上海大众的第一代桑塔纳。”
    </p>
    <p>
      董先生起身又为我斟上一杯茶，看来说到车，他的热情也不低于古玩字画。
    </p>
    <p>
      “从大师那里，我渐渐接触到了禅学，人生就是看一份机缘，在于一份发现。那年桑塔纳就是机缘的一个开始，由于那辆车买来的时候已经开了很久，所以过了两年我就把它卖了，换了一辆雪佛兰的车，开了没几年，感觉美系车有点耗油，又换了一辆日系小车，只是心中还是感觉放不下当初开桑塔纳的情绪，最后还是选择了上海大众。我想这也是一份难舍的情缘吧。”
    </p>
    <p>
      董先生之后给我讲了许多关于禅学和字画间的故事，他告诉我，其实很多大师并不在意自己的作品值多少钱，大多数字画都是以赠送为主，字画的传递完全是介于一种“身无彩凤双飞翼，心有灵犀一点通”的冲动，只要相互觉得有缘分，你能
    </p>
  </section>

  <div class="art-pages-num">
    <span>5/7</span>
  </div>
</article>