<article class="art-content layout3">
  <div class="label-float">娱乐</div>
  <img src="img/recreational/recreational1.jpg" alt="">
  <hgroup>
    <h1>玩物得志<span>途观车主董依平先生</span></h1>
  </hgroup>
  <section>
    <p>
      常言道：玩物丧志。到底如何去定义这四个字呢？他是一位平凡的古玩玩家，出生在一个非同寻常的年代，在这个年代中，把玩古玩是一种奢侈的生活方式，面对朋友们的冷嘲热讽，他选择走自己的路。他相信：没有所谓的“应该”，只有自己的道路！一路走来，他用一份坚持，用一份执著完成着自己的梦想。他玩古玩，却不以此为生计；他爱古玩，是因为尊重书画背后的人文底蕴。当我问起这一切为了什么？他笑着回答：我就是要让大家看看，什么叫“玩物得志”，一切是如何发生。
    </p>
  </section>

  <div class="art-pages-num">
    <span>1/7</span>
  </div>
</article>