<article class="art-content">
  <div class="label-static">娱乐</div>
  <section>
    <img src="img/recreational/recreational2.jpg" alt="">
    <p>
      在繁华的大都市，人们很难找到一个安静的空间，然而在昌化路上，一条充满人文气息古玩弄堂让人驻足，虽然弄堂不大，人却很多；虽然古玩齐全，但不像集市那样的喧杂。和煦的阳光照在各色的玉石和古币上，过路的人慢慢地行走，时不时被某件作品所吸引，一个茶壶，一串佛珠，一个古老的花瓶，抑或是一个西元前的古币。人们低声交谈，他们讨论的不是价格，而是每一个物件的故事。我感觉仿佛穿越在几个世纪的轮回中，闻着来自中国5000年的历史气息，九转千回，来到了董先生的店前。
    </p>
    <img src="img/recreational/recreational3.jpg" alt="">
    <p>
      推开“德艺堂”的门，我以为是走错地址，因为一位身穿袈裟的老者正挥毫泼墨，留下一幅艺术品。小店中有一种宁静的力量，老者气定神闲，笔墨之间尽显功力，作品一气呵成。老者放下手中的毛笔，双眸没有离开自己作品，顺手抄起手边的印泥，按在这幅作品上。我这才发现原来房间中还有好几个人，大家都聚精会神地观摩了整个创作的过程。董先生也才发现了呆站在店门口的我。
    </p>
    <p>
      “来来，一起欣赏一下大师的手笔。”待到众人一番寒暄纷纷离开了“德艺堂”，董先生把刚刚那副字展开在我面前，
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/7</span>
  </div>
</article>