<article class="art-content layout5">
  <div class="label-static">车主故事</div>
  
  <section>
    <img src="img/story/story4.jpg" alt="">

    <p class="p-first">
      漂”改装的材料还没有聚齐，浮力和密封性的实验还不知道能否成功，但他已经开始，就不会回头。和多数人一样，张宇也有一份需要好生经营的工作，也会遇到生活中方方面面的问题。但他的真实，就在于他的勇敢，敢于直面内心最真实的想法，做最洒脱的自己。
    </p>
    <h4>成为改变者的理由：</h4>
    <p>
      上海大众途观搭载的4Motion智能全时四驱，配合TSI涡轮增压发动机，带来无穷的动力和可能性。四驱系统是由前、后开放式行星齿轮组差速器和电控多片离合器总装而成。在正常行驶时系统偏重前驱，动力分配比为90:10，而在前轮出现打滑
    </p>

    
    <p>    
      或全力加速时，动力分配比会变为50:50，甚至更高。因为是电脑控制，系统可以对任何行驶状况做出很快很好的处理，不会因机械部件的设计局限而受到影响，处理车轮打滑的反应更快，能在第一时间将力传递到车轮上，由此增加途观应对各种路况的控制性和通过性。这也难免车主们会产生改装途观的想法。
    </p>
    
    <h4>真言感悟：</h4>
    <p>
      到达，你才会发现世界多么精彩。有一群人，他们真诚地倾听心灵的声音，如果心灵想走，那就放开脚步，去实现自己的梦。不伪装，不掩饰，真诚对已，才能活得精彩。当真实被唤醒，一切善与美都将复兴。到达，你才会发现世界多么精彩。有一群人，他们真诚地倾听心灵的声音，如果心灵想走，那就放开脚步，去实现自己的梦。不伪装，不掩饰，真诚对已，才能活得精彩。当真实被唤醒，一切善与美都将复兴。
    </p>
  </section>

  <div class="art-pages-num">
    <span>4/5</span>
  </div>
</article>