<article class="art-content">
  <div class="label-static">车主故事</div>
  
  <section>
    <img src="img/story/story3.jpg" alt="">
    
    <p class="p-first">
      责备他没有责任感。亲情、时间、金钱，这些因素都被他抛到了天马行空的背后。但他的坚持，最终还是换来了家人的理解。朋友对他的评价是：“你看张宇感觉上是一个比较中庸、比较温和的一种性格，但是他做的一些事情，感觉反而有些超乎寻常。他会按照自己的一种方式去思考、去生活。”
    </p>
    <p>
      张宇面临的真正挑战是处理好工作与旅行的时间关系。想要真正活得洒脱，真诚待己，这并不是件容易的事，张宇明白，除了自己的坚持、家人和朋友的支持，他还必须处理好工作和旅行的时间。
    </p>
    <p>
      把汽车改装成船去漂流，张宇也是头一次。缺少经验支撑的他，只能从网上找一些别人的例子来学习借鉴。爱车人士定义了一个词汇，叫“车漂”，就是把汽车改装成游船，再放到水上去行驶。“车漂”有三个难点，浮力、动力和密封性。要想成功漂流到达上海，张宇必须把这三点设计进去。能够保证浮力和密封性的材料，很不好找，要聚齐所有改装配件，还需要很长时间。“车漂”改装，并不是纸上谈兵。张宇要完成车漂三个难点中的第一项，做一个动力实验。在车轮上装螺旋桨，让船获得在水里行驶的动力，原理虽然简单，但张宇并没有十足的把握，制作螺旋桨的塑料板只有一块，张宇必须找到替代的材料，才能让实验继续下去。
    </p>
    <p>
      实验失败，张宇的期待变成了泡影，加上接连不断出现的状况，让他有些吃不消。一场解脱和释放，势在必行。张宇认为，想到什么可以做就去做。你不停地做一些更有意思的，更有爆炸力的，或者是更有影响力的，亦或是更有新意的一些事情，来丰富自己的人生阅历。对张宇来说，既不完全臣服于工作，也不完全沉溺于玩乐，这才是真实的人生。
    </p>
    <p>
      张宇说：“好多人就是考虑太多了，然后就退缩了。其实我做事情好多时候，还是走一步看一步的情况。我如果把这个船弄到水上顺江而下，飘出去了，有些东西你自然会去克服，而不是说打道回府。最容易打道回府的东西，就是存在自己脑海里面，想的东西。”
    </p>
    <p>
      车子喷漆的另一个原因是，斩断自我的退路，虽然“车
    </p>
  </section>

  <div class="art-pages-num">
    <span>3/5</span>
  </div>
</article>