<article class="art-content">
  <div class="label-static">车主故事</div>
  
  <section>
    <img src="img/story/story2.jpg" alt="">

    <p>
      今年32岁的张宇，是我们在心灵地图上找到的第一张真实面孔。作为成都一家广告公司的老板，他工作很忙，休息时间很少。但即便是这样，也挡不住他的脑袋去思考各种疯狂的事。经常被张宇找来出谋划策的朋友，来自不同领域，点子多、思路广，但他们并不是每一次都能赞成张宇的想法，多数时候，他们都在泼冷水。张宇知道肯定会有很多困难，但是觉得这些困难都能克服，而且觉得这种克服困难的途径和形式，其实也是一种乐趣。把汽车改装成船，朋友们很质疑，但张宇并不是第一次面对这种情况。
    </p>
    <p>
      2012年张宇计划开着拖拉机去西藏旅行，所有人都嘲笑他疯了，没有人认同，只有四面楚歌的否定。然而玩笑最终成真，2012年7月，张宇带着十个人，开着三辆拖拉机，从成都出发，一路向西到了西藏。这些拖拉机，张宇花了一年时间才找到，虽然用最好的配件去改装，但它们依然十分简陋。一路上，十个人挤在三辆拖拉机里，从海拔500米的成都平原，开到海拔5200米的青藏高原，所有人的情绪都忍耐到了极限。当一行人最终站上珠峰大本营，呼吸着最纯净的空气、饱览着最壮丽的山景时，刚刚经历的23个炼狱般的日子，顷刻间成为了浮云。
    </p>
    <p>
      从西藏回来，张宇有了更多疯狂的想法。但他没想到，把汽车改装成船的计划，从一开始就遭到朋友的全盘否定。漂流计划，似乎变成了妄想。朋友认为，做这个事情想得太简单了，光想着开心，但没考虑到对社会的影响，没考虑到一些别的东西。张宇却认为，本身这个事情就是特立独行，你想去不去，然后我们就按照这个做法做，我就做我的这个事情，你别人的看法、想法和观点，我都不在乎。意见不合，张宇早有预料，但他没想到会因为意见不合，而跟朋友产生冲突。
    </p>
    <p>
      张宇觉得，每个人不可能去强求别人做什么，不能去说教太多，每个人都有自己的想法。
    </p>
    <p>
      第一次碰头会，张宇在朋友那儿碰了一鼻子灰。但要计划执行下去，他还必须得面对家人的态度。张宇的孩子今年两岁，妻子工作朝九晚五，她并不喜欢张宇太“野”，甚至还曾
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/5</span>
  </div>
</article>