<article class="art-content img-all">
  <div class="label-float">车主故事</div>
  <img src="img/story/story1.jpg">

  <img class="img-btn" src="img/img-btn.png"><div class="title-msg title-msg3">
    <hgroup>
      <h1>改变者</h1>
    </hgroup>
    <p>
      他，曾经带着十个人，开着拖拉机去了西藏。2013年，旅途继续，但他的想法更加天马行空。从重庆到上海，可以坐车，也可以乘船，但你绝对想不到，有人会把一辆汽车改装成一艘船，沿长江漂到上海去。这个人，他在别人眼里是疯子，因为他不伪装，不掩饰，真诚面对内心，洒脱地做他自己。他就是，张宇。他向朋友们宣布了一个疯狂的计划：把汽车改装成船，去长江上漂流。他相信：只有大胆的创想，才能让一切发生。
    </p>
  </div>

  <div class="art-pages-num">
    <span>1/5</span>
  </div>
</article>