<article class="art-content">
  <div class="label-static">娱乐</div>
  <section>
    <img src="img/music/music4.jpg" alt="">
    <p class="p-first">
      扬声器丹拿高保真立体声音响，则让每一次旅程都拥有影剧院般的舒心享受……这些前瞻性科技助力凌渡成为了同级别车型中的翘楚。
    </p>
    <p>
     同样，作为音乐才子的林俊杰也是一位不愿墨守成规的音乐人。他不仅唱功了得，还是创作型歌手。他的音乐风格，总是以极富风格化的旋律带给我们过耳不忘的记忆。其实，早在他出道之前就为张惠妹写下《记得》这样传唱度极高的歌曲，后来有很多当红歌手演唱的歌曲也有不少是林俊杰的作品。林俊杰多变的曲风同样得到了听众们的认可，无论是委婉辗转的
    </p>
    <img src="img/music/music5.jpg" alt="">
    <p class="p-first">
      《江南》，还是中西音乐结合下的《曹操》，都是被广为传唱的流行金曲。
    </p>
    <p>
     林俊杰代言凌渡，毫不夸张地说是极富魅力的组合。凌渡具有可信赖的品牌口碑、年轻时尚的外观设计，行业领先的动力配置、超越同级车型的智能装备；而JJ林俊杰凭借健康阳光的形象、出众的唱作实力，成为当下流行乐坛的领军人物。如此，林俊杰成为凌渡的代言人实至名归。
    </p>
    <p>
     （节选文章来源：太平洋汽车网2014年12月24日 厂商邀稿）
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>3/3</span>
  </div>
</article>
