<article class="art-content">
  <div class="label-static">娱乐</div>
  <section>
    <img src="img/music/music2.jpg" alt="">

    <p class="p-first">
      感与优雅。如此说来，JJ林俊杰身上所具有的那种活力同样与凌渡不谋而合。
    </p>
    <p>
      从2003年发行第一张专辑《乐行者》开始，林俊杰从青涩到成熟，音乐风格也曾几经改变，但长着一张娃娃脸的青春模样却从来没变过。清爽的发型、简单的着装，一直是林俊杰的气质特点——不张扬但却足够标新立异。在凌渡与林俊杰的合影里，JJ的率真和凌渡的洒脱气质结合得淋漓尽致，充满金属感的车身配上JJ古铜色的肌肤，毫无违和感。
    </p>
    
    <img src="img/music/music3.jpg" alt="">

    <h4>创新实力</h4>
    <p>
      创新不仅需要不断向前的动力，更需要打破常规的勇气。林俊杰如此，凌渡亦然。作为一款奢适宽体轿跑，凌渡配备了诸多全新的智能科技配置，这些配置不仅是上海大众全新研发
    </p>
    <p class="p-first">
运用的技术，也是超越同级别车型的装备。以MKE疲劳提醒、ACC自适应巡航、BSD盲点监测，以及LDW车道保持功能为代表的驾驶辅助系统，令消费者感受到凌渡的全方位安全理念。同时，其领先同级的Mirrorlink手机屏幕映射功能、MIB第二代影音系统，为消费者带来更加舒适便捷的驾享体验；5.1声道10
    </p>
  </section>

  <div class="art-pages-num">
    <span>2/3</span>
  </div>
</article>