<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    
    <p class="p-first">
      的专家也开始着手考察各地的维修企业，希望从中找到能够成为上海大众的特约维修站，甄选的标准主要是技术水平。
    </p>
    <img src="img/history/year4.jpg" alt="">
     

    <p>
      由于在上个世纪80年代初，国内的汽车维修还是以修理运输车辆为主，众多维修企业对上海大众提出的进行改造以适应修理桑塔纳轿车的建议和要求并不太理解。经过实地考察和甄选后，最终，上海吉普车修理厂、成都小汽车修理厂、武汉中南汽车修理厂、南京黄埔汽车修理厂、广州梅花园汽车修理厂、沈阳小汽车修理厂、北京首汽修理公司三厂和北京燕京汽车修理厂共８家企业成为上海大众首批合作伙伴。
    </p>
    <p>
    上海吉普车修理厂是上海大众考察的第一家维修企业，德国专家亲自去考察了这家企业的生产情况，双方就车间改造、技术培训等问题达成共识之后，上海吉普车修理厂就派技术人员到上海大众的CKD生产车间来实习。与此同时，上海吉普车修理厂的车间改造也在进行当中，按照要求，他们在原有的车间里辟出特区，重新粉刷了车间。上海大众还向他们赠送了从德国进口的双柱举升机、发动机正时点火测试仪和四轮定位仪以及工具小车和专用工具等维修设备。随后，其他７家企业的考察工作也陆续进行，并很快都达成了协议。这些企业的技术人员也开始赴上海吉普车修理厂实习，各维修企业的车间特区改造以及设备赠送同时有条不紊地展开。
    </p>
    <p>
    1985年11月30日，上海大众首批８家特约维修站的授权签约仪式在上海静安宾馆举行，这标志着上海大众售后服务拉开了序幕。从那以后，维修站犹如“星星之火”，从省城、沿海开放城市逐步向内陆城市发展。上海大众的特约维修站以高超的技术和优质的服务，为上海大众的用户提供了最佳服务，形成了当时“拥有桑塔纳，走遍天下都不怕”的可喜局面。
    </p>
    <h4>培训中心 人才的摇篮</h4>
    <p>
      上海大众从刚起步时就非常重视员工的培训工作。时任上海汽车拖拉机工业联营公司总经理陈祥麟在《上海大众成立前后》中回忆道：在公司合营合同签订不久，上海大众就邀请德
    </p>
  </section>

  <div class="art-pages-num">
    <span>6/9</span>
  </div>
</article>