<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    
    <p class="p-first">
      丢饭碗，被解雇回国。
    </p>
    
    <p>
      1988年年底，上海的几家汽车零部件厂，几乎都被一个满头银发的洋老头“搅”得无法安宁，此人名叫威尔纳•里希，一位以治厂苛刻严厉出名的德国质量管理专家。他来到上海一呆就是30多天，一口气走了17家厂，有四五家还不止去过一次，每到一地就“挑刺”、“找茬”。在一家汽车制动器厂，格里希带着手电筒、放大镜，拿着一根半米多长的镀铬铁棒走进车间，用手电筒照着对角角落落都进行一番检查，用那根铁棒从工件内腔里吸出的残留铁屑，让陪在一边的厂长不禁汗颜。
    </p>
    <p>
      这位日耳曼老人就是被请来上海检查零部件企业质量管理的德国专家。为加速实现桑塔纳轿车国产化，德国大众组织德国退休专家服务机构（SES），开辟了一条既合乎专业要求又收费低廉的人力援助途径，配合中国汽车配套企业必需的大规模技术指导。据统计，期间共聘请了127位有丰富经验的德国退休专家来到上海、西安、贵州、长春等19个地区37个配套厂，帮助解决了大量技术和管理问题，对加速国产化起到了推进的作用。
    <p>
      争时间，抢速度。桑塔纳零部件企业同时也不分昼夜进行技术攻关，展开了一场追赶国际水平的攻坚战。为改善桑塔纳配套件的生产管理，很多企业还设立了“桑塔纳配套件生产特区”，即在原有厂房内将生产桑塔纳零件的车间或生产线单独划开，就地改造，要求特殊的生产环境、严格管理、人员配置，这在当时资金尚不充裕、不能盖新厂区的条件下取得了改善管理的好效果。
    </p>
    <p>
      中德双方的合作局面呈现出一派有计划向前推进的景象。中汽公司总设计师陈祖涛曾经做了一个比喻：合资企业如同一场婚姻，即使已经同床，还要努力争取做同样的梦。
    </p>
    <p>
      就是这个同样的梦——艰难而宏大的桑塔纳国产化工程，把中德双方的命运紧紧联系在一起。这个梦想的实现，不仅为上海大众赢得了生存权和发展权，也为中国汽车零部件工业的发展夯实了根基，为中国轿车工业的蓬勃发展发挥了无可替代的奠基石作用。
    </p>    

    <h4>初建服务网络：选出8家</h4>
    <p>
      上海大众的售后服务可以追溯到1983年，当时的上海汽车厂以CKD的方式组装了第一批桑塔纳，并以赠送与分配的形式交付一些地区的政府部门使用。在此之前，德国大众的技术专家就对上海汽车厂的25名技术骨干进行了技术与服务方面的专题培训，这个团队就承担了为这批车辆提供售后服务的任务。从那时起，“售后服务”这个新的名词开始时兴起来。
    </p>
    <p>
      1984年，上海大众合营合同签署后，上海大众售后服务网络的建立就摆上了议事日程，针对特约维修站的考察和甄选工作也正式启动，从德国大众派来的负责组建售后服务分部工作
    </p>
  </section>

  <div class="art-pages-num">
    <span>5/9</span>
  </div>
</article>