<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
<!--     <img src="img/history/year6.jpg" alt=""> -->
    
    <p class="p-first">
      模式在中国实施了职业培训，以便能和世界各地其他企业比较其后果。之后，中国团队立即以出色的成绩在这场全球竞赛中拔得头筹。
    </p>
    <p>
从生产工人到维护保障工人，从技术人员到管理人员，上海大众培训中心提供了全方位多渠道的培训。为适应上海大众的发展需要，培训中心还充分利用上海高校的师资、场地和设备培养了一大批技术人才。通过有效的培训，上海大众培养了一支满足现代企业发展的管理干部和技术骨干队伍，为企业此后的发展提供了强有力的人才支持。
    </p>
    
    
    <h4>盛大庆典 祝贺上海大众五周年</h4>
    <p>
      1990年4月18日，上海大众迎来了诞辰五周年的喜庆日子，厂区内外披上了节日的盛装，鲜艳的五星红旗，德国国旗
      和上海大众司旗在广场上高高飘扬。从早上8时起，大门口就不时响起一阵阵锣鼓声，欢迎中外贵宾的到来。
    </p>
    <p>
      8时55分，时任国务院总理李鹏的车队慢慢驶入上海大众，欢迎的人群顿时沸腾起来，彩带鲜花婆娑起舞，欢腾的锣鼓声直上云霄。李鹏总理在一号办公楼前下车与早已迎候在那里的时任上海大众董事长陆吉安、上海大众总经理王荣钧等热情握手。在二楼会客室，李鹏总理会见了大众汽车公司董事长哈恩博士。中央有关领导人邹家华、康世恩、彭冲、谷牧、韩光、何春林、李东冶、郝建秀、何光远、林宗棠、戚元靖、顾秀莲、蒋心雄、陈锦华、刘仲藜、李岚清、蔡诗晴、周道炯，以及上海市领导朱镕基、黄菊、谢希德、张定鸿、王力平、孙贵璋、刘振元、倪天增，德国驻华大使韩德培也出席了庆祝大会。
    </p>
    <img src="img/history/year6.jpg" alt="">
    
    <p>
9点35分，时任上海副市长黄菊宣布庆祝大会开始，成千只五颜六色的气球飞上蓝天。时任上海市长朱镕基代表中共上海市人民政府在会上讲话。他说，李鹏总理和国务院其他领导同志亲自前来参加上海大众的五周年庆祝仪式并视察工厂，充分体现了党中央、国务院对上海的关怀，也是对我们的鼓舞和鞭
    </p>
  </section>

  <div class="art-pages-num">
    <span>8/9</span>
  </div>
</article>