<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    
    <p>
      此行结束时，德国大众是否在卡中国人的脖子，朱镕基已作出了新的判断。对于来告状的、吹风的，他斩钉截铁地说：桑塔纳零部件的国产化，要坚持德国大众的标准，绝对不许搞“瓜菜代”。桑塔纳国产化要100%合格，降低0.1%我们都不要。这成了业界流传甚广的一句名言。
    </p>
    <p>
      朱镕基的这一指示，成为了上海桑塔纳轿车国产化工作的核心“灵魂”。时任上海大众副总经理马丁•波斯特在《上海1000天》中回忆：1987年朱镕基出任上海市委副书记，次年4月又当选上海市长。他的到来使国产化工作变得生机勃勃。在他的领导下，1988 年7月1日，上海桑塔纳轿车国产化联盟成立。这是一个全国范围的联盟，在后来的桑塔纳国产化工作中发挥了非常重要的作用：到1986年为止，在中国生产的零件比例不到6%，1987年这一比例上升到了13%，但在接下来的1988年，一下子上升到了接近31%。
    </p>
    <p>
      上海大众坚持桑塔纳零件国产化的高标准，成就了桑塔纳轿车在中国市场上三十年的经久不衰，也使上海大众始终保持了以质量取胜的美誉。
    </p>

    <h4>合资“婚姻” 同床还要同梦</h4>
    <p>
      1988年，时任上海市长的朱镕基，亲自向德国大众高层表示，上海大众不能实现国产化，就无法解决其生存问题，只能关门息业。而在针对桑塔纳零部件国产化标准过高的问题上，时任上海大众总经理王荣钧说得更直白：中国只批准进口散件组装89000辆桑塔纳，散件装完国产零部件还上不来的话，德国大众就得卷铺盖走人，他们在国产化问题上和我们一样急。
    </p>
    <img src="img/history/year3.jpg" alt="">
    <p>
      时任德国大众董事长哈恩也明确表态：支持上海大众国产化工作。他来到上海，列席上海大众董事会，公开宣布：一要国产化，二要国产化，三还是要国产化。时任上海大众技术执行经理保尔更是要求每一个德国专家要帮助及协调每一家承担国产化的配套厂，解决遇到的困难和问题。对持有异议者，保尔的反驳很实际：不支持国产化，上海大众关门，你们也只能
    </p>
  </section>

  <div class="art-pages-num">
    <span>4/9</span>
  </div>
</article>