<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    
    <p class="p-first">
      国大众职业教育家哈夫先生和冯克先生两次到上海进行实地考察，并根据德国“双轨制”职业教育模式，结合上海大众发展计划，与中方一起制定了上海大众人员的培训计划。
    </p>
    
    <p>
      在1984年10月签署的合同文本中，并没有相关员工培训计划的条款。时任上海大众副总经理马丁• 波斯特在《上海1000天中》回忆：合同文本规定了一切可能的细节问题：技术、规划、投资、资金、国产化、销售，而人仅仅以数字形式出现。随后，马丁•波斯特便向德国大众提出了为何上海大众没有培训中心的问题，得到的答复是：可以学习日本的做法，采用具有短期效应、成本低廉的“边工作边学习”的方式。而马丁•波斯特却坚定地认为：如果想在全世界生产有同等质量的产品，那就需要有相同素质的员工，就要按照德国专业实践指导和理论学习相结合的双轨制运作来进行技术工人的培训。
    </p>
    <p>
    1985年9月初，马丁•波斯特在狼堡的一次会议上又陈述了上海大众需要设立正规职业培训的理由，可是得到的大多还是反对意见。最终，时任德国大众董事长哈恩做出裁决：狼堡的培训部是整个集团的服务机构，它要保证在必要的情况下，世界各地集团企业的培训都得以保质保量进行。波斯特负责上海大众培训投资的落实，他是为企业负责，请在必要的范围内协助他的工作。上海大众需要一个培训中心的计划终于尘埃落定。
    </p>
    <img src="img/history/year5.jpg" alt="">
    <p>
      在当时资金极其紧缺的情况下，上海大众拨出了605万德国马克和186万元人民币投建培训中心，德国技术合作协会也提供了经济援助。1988年8月，总面积3600平方米，由一幢教学大楼、两个实习工场和其他一些生活设施等组成的上海大众培训中心正式落成。
    </p>
    <p>
建成初期的上海大众培训中心就配置了一流的教学设备，上海大众的第一台机器人也安装在培训中心。马丁•波斯特在《上海1000天中》写道：首批60名中国年轻人在新设立的培训中心里接受按双轨制模式开办的职业培训，我们完全按照德国
    </p>
  </section>

  <div class="art-pages-num">
    <span>7/9</span>
  </div>
</article>