<article class="art-content">
  <div class="label-float">历史故事</div>
  <img src="img/history/history1.jpg" alt="">
  <hgroup>
    <h1>国产化攻坚 夯实基础</h1>
  </hgroup>
  <section>
    <p class="p-title">
      2015年到来的一刻，我们充满无穷的希冀，而在这一刻，我们也将要告别连载一年多的历史故事。并不是我们把故事结束了，而只是为了另一个新的开始，就如我们需要回眸，更需要远望。2015年《大众一家》将要在新春后进行一次大改版，届时，我们将更多地把视线聚焦于车主。说一千道一万，对历史故事板块稍有些不舍，在这“曲终人散”之时，代表所有支持过我和还在阅读这一板块的朋友，谢谢大家，并敬请期待2015年改版后的《大众一家》，我们不见不散。
    </p>

    <h4>24小时封闭洛浦路</h4>
    <p>
      1988在走马上任的第三天，朱镕基就来到上海大众视察工作。在厂区内走了近一个小时后，朱镕基回到会议室，面向时任上海大众副总经理马丁• 波斯特，他说：波斯特先生，您有什么困难可以提出来。年4月，朱镕基担任上海市市长。4月30日晚，上海电视台播出了朱镕基当选上海市市长后的第一次公开讲话，朱镕基说，解决上海的问题，“会白头发很多”。
    </p>
  </section>

  <div class="art-pages-num">
    <span>1/9</span>
  </div>
</article>