<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    <img src="img/history/year1.jpg" alt="">
    
    <p>
      在走马上任的第三天，朱镕基就来到上海大众视察工作。在厂区内走了近一个小时后，朱镕基回到会议室，面向时任上海大众副总经理马丁•波斯特，他说：波斯特先生，您有什么困难可以提出来。
    </p>
    <p>
      波斯特回答：尊敬的市长先生，我有三个重要的问题，希望此后中方有所推动。请允许我先谈最紧迫的问题。那条穿过我们厂区的公共道路，一直没有得到封闭。市长先生，您知道灰尘对油漆车间意味着什么，穿过窗户进入油漆车间的每一粒灰尘，您之后就会在出厂的桑塔纳的漆面上找到。照理说，这条道路两年前就该封闭，合资合同里也是这么规定的。
    </p>
    <p>
     波斯特的言外之意非常清晰：封闭洛浦路的事拖了两年了，中方还准备拖到哪一天才能结束这样尘土漫天的局面。朱镕基即刻向与会的相关官员发问：情况是否属实？回答：属实。
    </p>
    <p>
    面色严厉的朱镕基用斩钉截铁的口吻命令道：“如果这条路24小时之内没有被封闭，”他的脸转向波斯特，“请您打电话给我。”朱镕基要求波斯特继续讲诉他的另外两个问题。
    </p>
    <p>
      新任市长走了，上海大众所有的中方职工、德方专家，脸上满是疑惑的表情。这条纠缠了近三年时间都未能封闭的公共道路，真能在24小时内封闭？波斯特对中德双方的同事们说：要是仍然什么事都没有发生，我们明天早上就给市长打电话。
    </p>
    <p>
      对于第二天早上看到的景象，波斯特在《上海1000天》的描述中略带幽默，不过能感觉到他非常欣慰。“第二天，一如往常，早晨六点半，保尔和我驱车驶往工厂。在我们就要到达目的地的时候，我们遭遇了堵车。在厂区入口处，一辆巨型吊车横卧在路上，将路堵死。没有人可以继续前行。中国人一夜之间从哪里弄来了这样一辆吊车，谁又将它运来横卧在我们的厂门前，我们从来不曾知晓。不过，从那时起，洛浦路就在我们的厂门前打住了。同一天，开始了周围道路开通的挖掘工作。我们长舒了一口气，感受到了朱镕基雷厉风行的工作作风
    </p>
    
  </section>

  <div class="art-pages-num">
    <span>2/9</span>
  </div>
</article>