<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    
    <p class="p-first">
    。”
    </p>
    <p>
      一台“不知从哪里弄来的”吊车“蛮横”地堵死了洛浦路，其实准切地说，是朱镕基的严令堵死了洛浦路。随着洛浦路的一夜封闭和朱镕基“国产化不能瓜菜代”等更多的“严令”，艰巨而宏大的桑塔纳国产化工作迅速得到提升。
    </p>
    
    <h4>高标准 还是“卡脖子”</h4>
    <p>
      在上海大众建成初期，桑塔纳的国产化率，即便是提高1%，也是困难重重。
    </p>
    <img src="img/history/year2.jpg" alt="">
    <p>
      当时的“国产化零件必须由德国大众认证”的严苛条件，着实让众多零部件厂望而生畏。在全国招标时，所有拿到样品的厂家，无不心里发憷——如过去生产方向盘测试指标只有6个，而桑塔纳的方向盘测试指标竟有100多个。在他们看来，这是德国大众故意在“卡脖子”，逼迫中国永远买德国大众的散件装车。
    </p>
    
    <p>
      还有人提出，德国大众的标准对大多数中国零部件厂来说简直是高不可攀，而桑塔纳主要是在国内销售，完全可以灵活些，质量水平可以分几步走，不必把标准悬得那么高。 
    </p>
    <p>
      但是德国人就是“倔”。德国大众明确表示：轿车是价格昂贵的工业产品，消费者花了他们来之不易的钱，就应该得到一辆安全性能、质量水平和产品外观完全符合国际标准的桑塔纳轿车。
    </p>
    <p>
      于是，有人生气了，“干脆不要用桑塔纳的牌子”、“中国人在合资企业没有话语权”等斥责不绝于耳。
    </p>
    <p>
      1986年6月，时任国家经委副主任的朱镕基专程为桑塔纳国产化问题来到上海。来之前他就听说，上海大众的中方总经理帮德国人“卡”零部件厂，拖累了国产化进展。在锦江饭店听汇报时，时任上海大众总经理王荣钧据理力争：“我们的零部件厂，设备陈旧，工艺落后，与德国的差距起码30年。桑塔纳的每一个零部件要达到德国的标准，几乎都要引进设备和技术。实实在在做起来，需要资金，需要时间。”
    </p>

  </section>
  <div class="art-pages-num">
    <span>3/9</span>
  </div>
</article>