<article class="art-content">
  <div class="label-static">历史故事</div>
  <section>
    
    <p class="p-first">
      策。李鹏总理作了重要讲话。他强调，上海大众建成投产又一次证明，我们同世界各国在平等互利基础上的合作是真诚的，中国的对外开放是坚定不移的。李鹏还在大会上宣布了中央同意开发浦东、开放浦东，将在浦东实行经济技术开发区和某些经济特区的政策这一振奋人心的消息。
    </p>
    <p>
庆祝大会结束后，李鹏总理为上海大众车身生产线、发动机生产线建成投产剪彩，并与工人一一握手，亲切致意。他兴致勃勃地视察了轿车生产线，对窗明几净、一尘不染的车间环境感到特别满意，他询问道：“是不是特地进行过大扫除，才显得这么干净?”哈恩博士回答：“不是，这里一直这么干净，这里是大众集团最干净、最现代化的发动机厂。”随后，李鹏还参观了桑塔纳国产化展览室。当王荣钧一一介绍国产化零部件实物时，李鹏说道：" 这真不容易啊!"
    </p>
    <p>
事实确是如此，上海大众五年来经历和克服了无数难以想象的困难。通过边生产边建设，上海大众终于形成了年产6万辆轿车、10万台发动机的生产能力，成为中国当时最现代化、
规模最大的轿车制造企业，而遍及全国的46个特约维修站更为上海大众用户提供着一流的售后服务。优异的质量和优良的服务，使上海大众桑塔纳轿车成为国内最受青睐的轿车。1990年4月18日，虽然这一天早已成为历史，但那盛大的庆典场面连同明媚的春光永远留在上海大众老员工的心间，也成为中国汽车工业发展史上难忘的一页。（终）
    </p>
  </section>

  <div class="art-pages-num">
    <span>9/9</span>
  </div>
</article>